
/*
.portada_seccion > .cap {margin-top:0px; padding-bottom: 0px;}
.fotogaleria-noticias .owl-item {min-height: 1px;}

/*lista sin imagen calentito*/
/*
ul.fototexto-verti li div .not_cat.no_imagen {position: static!important;}
ul.fototexto-verti  li div .not_cat.no_imagen a {color: #444444!important;}
*/

/*publi
.publi_sky {position: absolute; top:110px; left:-180px!important;  background:transparent!important;  }
.home .publi_sky {top:30px!important; left:-180px!important; }
.single-noticia .publi_sky {top:28px!important;  }

.publi_sky:empty {}
.bl_publi.lateral {padding: 0; background-color:transparent; width: 100%;}
.bl_publi.lateral > div {margin: 0 auto;}

.bl_publi.widget {padding: 0; background-color:transparent; width: 100%;}
.bl_publi.widget > div {margin: 0 auto;}
.lacuartatv > .row + div.bl_publi_pie {background-color: transparent; padding: 0px;}


.single-noticia .diario_version_digital {padding-top: 40px;}

/*galeria con noticia ancha
.fotogaleria-noticias  {max-width: 700px; margin: 0 auto;}

.twi img {max-width: 300px;}
*/

/*

@media screen and (min-width: 1290px) and (max-width: 1550px) {
	.bl_sky_completo  .portada_seccion > .cap  {padding-left: 140px; max-width: 1260px;  }
	.bl_sky_completo  .apertura  {border-left: 140px solid #fff; width: 1260px;  }
	.bl_sky_completo  .doble  {padding-left: 140px; width: 1260px;  }
	.bl_sky_completo  .doble .apertura  {border-left: 0px;}
	.bl_sky_completo  .modulo  .row {padding-left: 140px; min-width: 1280px;  margin: 0 auto; }
	.bl_sky_completo  .modulo   .row .row {padding-left: 0px;}
	.bl_sky_completo  .modulo.modulo_galerias .row  {padding-left: 0px; min-width: 10px;}

	.bl_sky_completo .publi_sky {left: -90px!important; z-index: 2;}
	.bl_sky_completo .bl_publi.lateral {padding: 20px 0; width: 100%;}
	.bl_sky_completo .bl_publi.lateral > div {margin: 0 auto; }
	

}

@media screen and (min-width: 1260px) and (max-width: 1290px) {
	.bl_sky_completo  .portada_seccion > .cap  {padding-left: 150px;  max-width: 1220px;  }
	.bl_sky_completo  .apertura  {border-left: 150px solid #fff; width: 1220px;  }
	.bl_sky_completo  .doble  {padding-left: 150px; width: 1220px;  }
	.bl_sky_completo  .doble .apertura  {border-left: 0px;}
	.bl_sky_completo  .modulo  .row {padding-left: 150px; min-width: 1240px; margin: 0 auto;  }
	.bl_sky_completo  .modulo   .row .row {padding-left: 0px;}
	.bl_sky_completo  .modulo.modulo_galerias .row  {padding-left: 0px; min-width: 10px;}
	.bl_sky_completo .portada .apertura {width: 1220px; }
	.bl_sky_completo .publi_sky {left: -60px!important; z-index: 2;}
	.bl_sky_completo .bl_publi.lateral {padding: 20px 0; width: 100%;}
	.bl_sky_completo .bl_publi.lateral > div {margin: 0 auto; }

}

*/

@media screen and (max-width: 1259px){

	/* .publi_sky {display: none;} */
}

@media screen and (max-width: 700px){
	/* .home .header_espacio {height: 70px;} */
}

@media screen and (max-width: 400px){
	/*
	.bl_publi.lateral {padding:0;}
	.bl_publi.lateral > div {margin: 0 auto;}
	*/
}

