.modulo_str_vod {
	width: 100%;
	float: left;
}
.golazo_diario-mod{
	background: url(http://d2mhmd1y9dvsiv.cloudfront.net/wp-content/uploads/sites/5/2017/09/25/Fondo-Golazo-modulo-3.jpg) no-repeat center; background-size: cover;
	width: 100%
}
.espectacular-mod{
  background: url(http://d2mhmd1y9dvsiv.cloudfront.net/wp-content/uploads/sites/5/2017/09/25/Fondo-Espectacular.jpg) no-repeat center; background-size: cover;
  width: 100%
}
.la_matrix-mod{
  background: url(http://d2mhmd1y9dvsiv.cloudfront.net/wp-content/uploads/sites/5/2017/09/25/Fondo-Matrix.jpg) no-repeat center; background-size: cover;
  width: 100%
}
.informapop-mod{
  background: url(http://d2mhmd1y9dvsiv.cloudfront.net/wp-content/uploads/sites/5/2017/09/25/Fondo-Informapop.jpg) no-repeat center; background-size: cover;
  width: 100%
}
.meme-mod{
  background: url(http://d2mhmd1y9dvsiv.cloudfront.net/wp-content/uploads/sites/5/2017/09/25/Fondo-Meme.jpg) no-repeat center; background-size: cover;
  width: 100%
}
.panoramas-mod{
  background: url(http://d2mhmd1y9dvsiv.cloudfront.net/wp-content/uploads/sites/5/2017/09/25/Fondo-Panoramas.jpg) no-repeat center; background-size: cover;
  width: 100%
}
.el_distrito-mod{
  background: url(http://d2mhmd1y9dvsiv.cloudfront.net/wp-content/uploads/sites/5/2017/09/25/Fondo-El-Distrito-2.jpg) no-repeat center; background-size: cover;
  width: 100%
}
.la_desenchufada-mod{
  background: url(http://d2mhmd1y9dvsiv.cloudfront.net/wp-content/uploads/sites/5/2017/09/25/Fondo-Desenchufa.jpg) no-repeat center; background-size: cover;
  width: 100%
}
.damos_pelota-mod{
  background: url(http://d2mhmd1y9dvsiv.cloudfront.net/wp-content/uploads/sites/5/2017/09/25/Fondo-Damos-Pelota.jpg) no-repeat center; background-size: cover;
  width: 100%
}
.video_str_vod{
    float: left;
    width: 100%;  
    height: auto;
}
.cabecera_str {
    width: 100%;
    float: left;
    /**height: 83px;**/
}
.logo_str_vod{
    width: 45%;
    float: left;
    margin: 0.6rem;
}
.logo_str_vod img{
	width: 100%;
}
.redes_str_vod{
    width: 100%;
    float: left;
    border-top: 1px solid #fff;
    padding: 0.5rem;
    margin: 1rem 0 0 0;
    opacity: 0.5;
}
.horario_str {
    float: right;
    width: 31%;
    display: block;
    margin: 0.5rem;
    padding: 0.3rem 0;
    opacity: 0.5;
}
.horario_str h4{
    color: #fff;
    text-transform: uppercase;
    font-size: 0.8rem;
    text-align: left;
}
.text_str_vod {
	float: left;
}
.text_str_vod h3{
	padding: 1rem 1rem 0.1rem;
}
.text_str_vod h3 a{
	color: #fff;
}
.icon_str{
    width: 30px;
    float: right;
    margin: 0 0.2rem;
-webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
}
.icon_str:hover{
	opacity: 0.5;
}
.icon_str img{
	width: 100%;
}
.facebook-mod {
  background: url(http://d2mhmd1y9dvsiv.cloudfront.net/wp-content/uploads/sites/5/2017/09/25/facebook-icon.png) no-repeat;
  height: 30px;
  width: 30px;
}
.instagram-mod {
  background: url(http://d2mhmd1y9dvsiv.cloudfront.net/wp-content/uploads/sites/5/2017/09/25/instagram-icon.png) no-repeat;
  height: 30px;
  width: 30px;
}
.youtube-mod {
  background: url(http://d2mhmd1y9dvsiv.cloudfront.net/wp-content/uploads/sites/5/2017/09/25/youtube-icon.png) no-repeat;
  height: 30px;
  width: 30px;
}
.twitter-mod {
  background: url(http://d2mhmd1y9dvsiv.cloudfront.net/wp-content/uploads/sites/5/2017/09/25/twitter-icon.png) no-repeat;
  height: 30px;
  width: 30px;
}
@media screen and (max-width: 700px){
  .video_str_vod {
    width: 50%;
	padding: 0 0 0 1rem;
  }
  .text_str_vod {
  	width: 50%;
    text-align: left;
  }
@media screen and (max-width: 600px){
  .video_str_vod {
    width: 100%;
	padding: 0rem;
  }
  .text_str_vod {
  	width: 100%;
    text-align: center;
  }
