/* 24-7  Correccion duplicado banner ficha */

iframe + iframe {
  display: none;
}



//--AJUSTE PUBLI SKY---
//---NOTA: por Jquery se pone la clase "con-sky"

div#wrapper.con-sky .sky {
  height: 0px;
  background: red;
  max-width: calc(1200px - 190px);
  width: calc(100% - 190px);
  margin-left: calc((100% - 820px) /2);
}

div#wrapper.con-sky #content,
div#wrapper.con-sky #content + * {
  max-width: calc(1200px - 200px);
  width: calc(100% - 200px);
  margin-left: calc((100% - 820px) /2);
  overflow: hidden;
}

div#wrapper.con-sky .publi_sky {
  top: 31px !important;
  left:-180px!important;
}

@media screen and (max-width: 1200px) {
  .portada .apertura {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  .portada .apertura .bl_txt {
    width: 90%;
  }
  .portada .apertura h1 {
    font-size: 4rem;
  }
  div#wrapper.con-sky #content,
  div#wrapper.con-sky #content + * {
    margin-left: calc(100% - (100% - 210px));
    width: calc(100% - 210px);
  }
  div#wrapper.con-sky .sky {
    width: calc(100% - 210px);
    margin-left: calc(100% - (100% - 210px));
  }
  div#wrapper.con-sky .publi_sky {
   left:-180px!important;
  }  
}

@media screen and (max-width: 1024px) {
  div#wrapper.con-sky #content,
  div#wrapper.con-sky #content + * {
    max-width: none;
    width: auto;
    margin-left: 0;
    overflow: inherit;
  }
  div#wrapper.con-sky .sky {
    display: none;
  }
}
