

/* COLORES */

$rojo: #ff0018;
$rojo2: #cc231e;
$grisoscuro: #333;
$grismedio: #999;

$back-publi: #f2efec;

$predet-fonts: Arial, Sans-serif;

/* Colores categorías */

$cat-diosagram: #d05671;
$cat-espectacular: #925ec2;
$cat-mascotas: #b193d2;
$cat-cronica: #e5833a;
$cat-deportiva: #79d953;
$cat-mundo: #6eacd0;



/* MIXINS */

@mixin box-sizing($boxsizing) {
    -webkit-box-sizing: $boxsizing;
       -moz-box-sizing: $boxsizing;
            box-sizing: $boxsizing;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition($transition) {
    -webkit-transition: $transition;
       -moz-transition: $transition;
         -o-transition: $transition;
            transition: $transition;
}

@mixin transform($transform) {
    -webkit-transform: $transform;
       -moz-transform: $transform;
         -o-transform: $transform;
            transform: $transform;
}

@mixin animation($animation) {
    -webkit-animation: $animation;
       -moz-animation: $animation;
         -o-animation: $animation;
            animation: $animation;
}




/* CLASSES */


.textocult {
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  color: transparent;
  text-align: left;
}

.centra-verti {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: auto;
  @include transform (translate(-50%, -50%));
}

.sobrecapa {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.gradient-clar {
  background: #ffffff;
  background: -webkit-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  background:    -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  background:         linear-gradient(top bottom, #ffffff 0%, #f2f2f2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );
}

.gradient-fosc {
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 41%, rgba(0,0,0,0.7) 100%);
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 41%,rgba(0,0,0,0.7) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 41%,rgba(0,0,0,0.7) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=0 );
}


/* video */
.not_vid, .video-container {
  position: relative;
  padding-top: 30px;
  padding-bottom: 56.25%; /* Para que el contenedor tenga relación de aspecto 16/9 */
  height: 0;
  overflow: hidden;
  iframe.vrudo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.imagen-izquierda .not_vid {
  padding-bottom: 28.125%; /* Para que el contenedor tenga relación de aspecto 16/9 */
}

.not_vid iframe.vrudo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%!important;
  height: 100%!important;
}



.bot {
  text-align: center;
  display: inline-block;
  padding: .5rem 1.5rem;
  @include border-radius (3px);
}

.play {
    width: 60px;
    height: 60px;
    position: absolute;
    z-index: 10;
    background-color: rgba(255, 0, 24, .4);
    border: 3px solid rgba(255, 255, 255, .4);
    @include border-radius (50%);
    cursor: pointer;
    &::after {
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-left: 12px solid #fff;
        border-bottom: 8px solid transparent;
        content: '';
        position: absolute;
        left: 52%;
        top: 50%;
        text-align: center;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        @include border-radius (3px);
    }
}

.not_cat {
    display: block;
    position: relative;
    min-height: 1.25rem;
    padding: 1rem 0 .5rem;
    &:after {
      content: "";
      top: 1px;
      left: 0;
      position: absolute;
      height: 3px;
      width: 100%;
      background-color: $cat-diosagram;
  }
    a {
      color: #707070;
      display: inline-block;
      font: .75rem 'Roboto', Arial, Sans-Serif;
      margin: 0;
      padding: 0;
      text-transform: uppercase;
      z-index: 2;
  }
}

.diosagram .not_cat:after {background-color: $cat-diosagram;}
.espectacular .not_cat:after {background-color: $cat-espectacular;}
.mascotas .not_cat:after {background-color: $cat-mascotas;}
.cronica .not_cat:after {background-color: $cat-cronica;}
.deportiva .not_cat:after {background-color: $cat-deportiva;}
.mundo .not_cat:after {background-color: $cat-mundo;}

.apertura .not_cat, .fototexto .not_cat {
  border-bottom: 1px solid rgba(255, 255, 255, .2);
  &:after {
    bottom: -4px;
    height: 4px;
    top: inherit;
    width: 40px;
  }
}

.apertura .not_cat a {
  color: #fff;
}


.titulo.calentitos {
  display: block;
  font: 1.375rem 'nationalweb-semibold', $predet-fonts;
  color: #fff;
  background-color: #1e1e1e;
  padding: 1rem 1.3rem 1.2rem;
  margin: 1rem 0 1.5rem;
}


ul.pestanas {
  margin-bottom: 3rem;
  li {
    display: inline;
    a {
      display: inline-block;
      vertical-align: top;
      text-transform: uppercase;
      font-size: .875rem;
      color: $grismedio;
      text-align: center;
      padding: .75rem .5rem;
      width: 8rem;
      border: 1px solid #dfdfdf;
      @include border-radius (2px);
      position: relative;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  li.actiu {
    a {
      background-color: #fff;
      color: $grisoscuro;
      font-family: 'nationalweb-semibold', $predet-fonts;
      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 2px;
        left: 2%;
        right: 2%;
        width: 96%;
        height: 3px;
      }
    }
  }
  li.actiu.cronica a::after {
    background-color: $cat-cronica
  }
  li.actiu.mundo a::after {
    background-color: $cat-mundo
  }
  li.actiu.deportiva a::after {
    background-color: $cat-deportiva
  }
  li.actiu.espectacular a::after {
    background-color: $cat-espectacular
  }
  li.actiu.mascotas a::after {
    background-color: $cat-mascotas
  }
}

ul.pestanas.oscuro {
  a {
    background-color: #111;
    border-color: #111;
    width: 7rem;
  }
}

.respons {
  display: none;
}

.pest-content {
    display: none;
}

#tab-1 {
 display: block;   
}



/* Listados */

ul.fototexto {
  margin-bottom: 3rem;
  li {
    margin-bottom: 1rem;
    img {
      display: inline-block;
      vertical-align: top;
      width: 175px;
      height: auto;
      margin-right: 25px;
    }
    .text {
      display: inline-block;
      vertical-align: top;
      width: -webkit-calc(100% - 220px);
      width:         calc(100% - 220px);
      h3 {
        padding-top: 1rem;
        margin: 0 0 1rem;
        font-family: 'nationalweb-semibold', $predet-fonts;
        line-height: 1;
        a {
          color: #000;
        }
      }
    }
  }
}

.ficha ul.fototexto li h3 {
  font-size: 1.25rem;
}



.fototexto .not_cat {
  border-bottom: 1px solid #dfdfdf;
  a {
    margin-top: 0;
  }
}


ul.fototextosimple {
  li {
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 1.5rem;
    .img {
      display: inline-block;
      vertical-align: top;
      width: 90px;
      height: auto;
      margin-right: 25px;
    }
    h4 {
      display: inline-block;
      vertical-align: top;
      width: -webkit-calc(100% - 130px);
      width:         calc(100% - 130px);
      a {
        color: #000;
      }
    }
  }
  li:last-child {
    border-bottom: 0 none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}


ul.fototexto-verti, .modulo.calentitos {
  li div, div.bl {
    position: relative;
    .img::after {
      @extend .sobrecapa;
      @extend .gradient-fosc;
    }
    .not_cat {
      position: absolute;
      left: 1rem;
      top: 11rem;
      &:after {
        height: 4px;
        top: 2.3rem;
        width: 40px;
      }
      a {
        color: #fff;
      }
    }
    .not_cat.no_imagen {
      position: static!important;
      a {
        color: #444!important;
      }
    }
    h4, h3 {
      font: 2rem/1 "nationalweb-semibold", $predet-fonts;
      margin: 0 0 1.5rem;
      padding-top: 1rem;
      a {
        color: #000;
      }
    }
  }
}

.modulo.calentitos div.bl .not_cat {
  top: 11rem;
}

ul.destacados {
  width: 100%;
  display: table;
  li {
    display: inline-block;
    vertical-align: top;
    width: 18.675%;
    margin: 0 .5%;
    a {
      display: block;
      position: relative;
      .img {
        position: relative;
        z-index: -1;
        height: 115px;
        overflow: hidden;
        &::before {
          background-color: rgba(0,0,0,.3);
          @extend .sobrecapa;
          @include transition(.2s ease);
        }
      }
      h3 {
        position: absolute;
        z-index: 0;
        bottom: 1rem;
        left: 1rem;
        right: 1rem;
        color: #fff;
        font: 1rem/1.1 'nationalweb-semibold', $predet-fonts;
      }
      &:hover {
        background-color: rgba($rojo, .5);
      }
    }
  }
}


