

@font-face {
	font-family: 'nationalweb-regular';
	src: url('../fonts/nationalweb-regular.eot');
	src: url('../fonts/nationalweb-regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/nationalweb-regular.woff') format('woff'),
	url('../fonts/nationalweb-regular.ttf') format('truetype'),
	url('../fonts/nationalweb-regular.svg#nationalweb-regular') format('svg');
	font-weight: 200;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'nationalweb-semibold';
	src: url('../fonts/nationalweb-semibold.eot');
	src: url('../fonts/nationalweb-semibold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/nationalweb-semibold.woff') format('woff'),
	url('../fonts/nationalweb-semibold.ttf') format('truetype'),
	url('../fonts/nationalweb-semibold.svg#nationalweb-semibold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
  font-family: "untitled-font-1";
  src:url("../fonts/untitled-font-1.eot");
  src:url("../fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("../fonts/untitled-font-1.woff") format("woff"),
    url("../fonts/untitled-font-1.ttf") format("truetype"),
    url("../fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "flaticon";
  src:url("../fonts/flaticon.eot");
  src:url("../fonts/flaticon.eot?#iefix") format("embedded-opentype"),
    url("../fonts/flaticon.woff") format("woff"),
    url("../fonts/flaticon.ttf") format("truetype"),
    url("../fonts/flaticon.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

