

/* INTERIOR */

.titseccion {
    margin: 2rem 0;
}

article {
    .img {
        position: relative;
        padding: 0;
        img {
            width: 100%;
        }
    }
}



/* Portada sección */

.portada_seccion > .cap {
    background: #fff;
    max-width: 1140px;
    margin: 0 auto 0;
    padding-bottom: 0;
    > .row {
        border-bottom: 1px solid #ccc;
        margin-bottom: 2rem;
        h1.portadilla {
            font: 3rem/1 'nationalweb-semibold', $predet-fonts;
            color: #000;
            margin-top:3rem;
            padding-bottom: 1rem;
            padding-left: 10px;
        }
    }
}



/* Insertos publicitarios */

.insertos_publicitarios {
    header {
        color: #666;
        vertical-align: middle;
        h3 {
            display: inline;
            font-family: "nationalweb-semibold", $predet-fonts;
            font-size: 1.375rem;
            text-transform: uppercase;
            margin-right: 1rem;
        }
    }
}



/* Página */

.page {
    article {
        margin-bottom: 3rem;
        h1 {
            font: 2.5rem/1 'nationalweb-semibold', $predet-fonts;
            color: #000;
            margin-top:3rem;
            padding-bottom: 1rem;
        }
        h3 {
            font: 1.25rem/1 'nationalweb-semibold', $predet-fonts;
            color: #000;
            margin-top: 2rem;
            padding-bottom: .5rem;
            text-transform: uppercase;
        }
        p {
            margin-bottom: 1rem;
        }
        a {
            color: $rojo;
        }
    }
}



/* Noticia */

#teinteresa {
    padding: 1rem 0;
    -webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,.1);
            box-shadow: 0 5px 5px 0 rgba(0,0,0,.1);
    > div > p {
        text-transform: uppercase;
        margin-bottom: .5rem;
        margin-left: .5%;
    }
}

.ficha .cabecera_ficha .directo {
    font: 700 .875rem/1 'Roboto', $predet-fonts;
    text-transform: uppercase;
    margin: 2rem 0 1rem;
    color: #fff;
    background-color: $rojo;
    @extend .bot;
}

.ficha .categoria {
    font: 1rem/1 'Roboto', $predet-fonts;
    text-transform: uppercase;
    margin: 1rem 0;
    color: $rojo;
    a {
        color: $rojo;
    }
}

.ficha {
    .cabecera_ficha {
        padding: 10px 0;
        margin-bottom: 20px;
        border-bottom: 1px solid #dfdfdf;
    }
    .cuerpo {
        margin: 0 auto;
    }
}

.ficha .cabecera_ficha h1, .ficha.fotogaleria h1 {
    font: 4rem/1 'nationalweb-semibold', $predet-fonts;
    margin-bottom: 2rem;
}

.ficha .patrocinada {
    padding-top: 10px;
    border-top: 1px solid #dfdfdf;
    span {
        display: inline-block;
        vertical-align: middle;
        margin-right: 1.25rem;
        color: $grismedio;
    }
}

.ficha .column.cuerpo {
    padding-right: 4%;
    .entradilla {
        font: 300 1.8rem/1.1 'nationalweb-regular', $predet-fonts;
        color: #777;
        padding: 1rem 0 2rem;
    }    
    .contenido {
        font: 300 1.125rem/1 'nationalweb-regular', $predet-fonts;
        padding: 0 0 3rem;
        .alignleft {
            float: left;
            padding-right: 2rem;
        }
        .alignright {
            float: right;
            padding-left: 2rem;
        }
        h1 {
            font-size: 2.5rem;
            font-family: 'nationalweb-semibold';
        }
        h2 {
            font-size: 2.25rem;
        }
        h3 {
            font-size: 2rem;
        }
        h4 {
            font-size: 1.725rem;
        }
        h5 {
            font-size: 1.5rem;
            font-family: 'nationalweb-semibold';
        }
        h6 {
            font-size: 1.25rem;
            font-family: 'nationalweb-semibold';
        }
        p, li {
            line-height: 1.5;
            margin-bottom: 1.5rem;
        }
        strong {
            font-family: 'nationalweb-semibold', $predet-fonts;
        }
        em {
            font-style: italic;
        }
        ul, ol {
            padding-left: 2rem;
            li {
                list-style: outside;
                padding-left: .5rem;
            }
        }
        ol li {
            list-style-type: decimal;
        }
        blockquote {
            margin: 2rem;
            text-align: center;
            p {
                padding: 1rem;
                text-align: center;
                font-size: 1.25rem;
                border-top: 1px solid #dfdfdf;
                border-bottom: 1px solid #dfdfdf;
            }
        }
        img {
            max-width: 100%;
        }
        a {
            color: $rojo;
        }
    }
    .autor {
        margin-bottom: 1.25rem;
        > * {
            display: inline-block;
            vertical-align: top;
            color: $grismedio;
            margin-bottom: 0!important;
        }
        a {
            color: #6aadd1;
            padding-left: 30px;
            position: relative;
            margin-top: 5px;
            &:before {
                content: 'l';
                font-family: 'untitled-font-1';
                font-size: 1.5rem;
                color: #6aadd1;
                position: absolute;
                left: 3px;
                top: -3px;
            }
        }
    }
}

.ficha .cuerpo .contenido::before, 
.ficha .cuerpo .contenido::after {content: " ";}
.ficha .cuerpo .contenido::after {clear: both;}

.ficha .cuerpo .img_destacada, .ficha .cuerpo .video-container {
    margin-top: 2rem;
}

.ficha .cuerpo .img_destacada img {
    min-width: 100%;
}

.ficha .cuerpo .lectura-foto {
    display: block;
    padding: .5rem 0;
    color: #999;
    font-size: .875rem;
}

.ficha .column.cuerpo .contenido .wp-polls ul {
    padding-left: 0;
    li {
        list-style: none;
        padding-left: 0;
    }
}

ul.redes {
    padding: 0 0 1.5rem;
    border-bottom: 1px solid #dfdfdf;
    text-align: right;
    li {
        position: relative;
        width: -webkit-calc(33% - 1px);
        width:         calc(33% - 1px);
        margin-right: 1px;
        background-color: red;
        float: left;
        a {
            display: block;
            text-align: right;
            padding: 1rem;
            color: #fff;
        }
        &:after {
            color: #fff;
            position: absolute;
            top: .875rem;
            left: 1rem;
            font-size: 1.25rem;
            font-family: "untitled-font-1";
        }
        &:last-child {
            margin-right: 0
        }
        &:hover {
            opacity: .7;
            @include transition(.2s ease);
        }
    }
    li.facebook {
        background-color: #3c5898;
        &:after {
            content:'j';
        }
    }
    li.twitter {
        background-color: #6aadd1;
        &:after {
            content:'l';
        }
    }
    li.whatsapp {
        display: none;
        background-color: #28c44b;
        &:after {
            content:'\e003';
        }
    }
    li.mail {
        background-color: #474747;
        &:after {
            content:',';
        }
    } 
}

.portada ul.redes {
    margin: 0;
    padding-bottom: 0;
    border-bottom: 0 none;
    li {
        background-color: transparent;
        width: 100px;
        margin: 0;
        a {
            color: $grismedio;
            border: 1px solid #dfdfdf;
            padding: .5rem;
            font: .75rem 'Roboto', $predet-fonts;
            &:hover {
                color: #fff;
            }
        }
        &:after {
            font-size: 1rem;
            top: .5rem;
            left: .5rem;
            color: #ccc;
        }
        &:hover {
            &:after {
                color: #fff;
            }
        }
    }
    li + li a {
        border-left: 0 none;
    }
}

.portada ul.redes li.facebook:hover {
    background-color: #3c5898;
    opacity: 1;
}

.portada ul.redes li.twitter:hover {
    background-color: #6aadd1;
    opacity: 1;
}

.portada .apertura ul.redes li {
    a {
        opacity: .3;
        &:hover {
            opacity: 1;
        }
    }
    &:after {
        opacity: .3;
    }
}

.portada .apertura.clara ul.redes li a,
.portada .apertura.clara ul.redes li:after,
.portada .apertura.clara ul.redes li a:hover,
.portada .apertura ul.redes li:hover:after {
    opacity: 1;
}

.ficha ul.redes li a {
    min-height: 52px;
}

.opciones_galeria ul.redes {
    padding: 0;
    border-bottom: 0 none;
}

.ficha .column.sidebar {
    float: right;
    margin-bottom: 3rem;
}

.ficha .column.sidebar .acordeon {
    text-transform: uppercase;
    color: #000;
    display: inline-block;
    font-weight: 700;
    margin-bottom: 20px; 
    &:after {
        content: '';
        height: 2px;
        width: 100%;
        display: block;
        margin-top: .1rem;
        background-color: $rojo;
    }
}

.ficha .platilla_cronologia {
    position: relative;
    margin-bottom: 3rem;
    &:before {
        content: '';
        position: absolute;
        width: 2px;
        height: 100%;
        background-color: #ebebeb;
        left: 104px;
        z-index: 0;
        display: block;
        margin-bottom: 3rem;
    }
    li {
        padding-bottom: 3rem;
        
        &:before {
            content: '';
            display: table; 
        }
        &:after {
            content: '';
            display: table; 
            clear: both;
        }
        .cuando {
            text-align: right;
            padding-top: .5rem;
            font: .75rem/1 'Roboto', $predet-fonts;
            text-transform: uppercase;
            padding-right: 30px;
            position: relative;
            width: 120px;
            &:after {
                content: '';
                position: absolute;
                display: block;
                width: 14px;
                height: 14px;
                border: 3px solid #ebebeb;
                @include border-radius(50%);
                background-color: #fff;
                top: 9px;
                right: 8px;
            }
            .dia {
                padding-bottom:  .375rem;
                color: $rojo;
            }
        }
        .column.ten {
            width: -webkit-calc( 100% - 140px);
            width:         calc( 100% - 140px);
            .txt {
                h4 {
                    font: 2rem/1 'nationalweb-semibold', $predet-fonts;
                    margin: 0 0 1.5rem;
                }
                p {
                    margin: 0 0 1.5rem;
                }
            }
        }
    }
}

.relacionadas > span {
    font: 1.75rem/1 'nationalweb-semibold', $predet-fonts;
    margin: 0 0 1.5rem;
    display: block;
}

.twi {
    text-align: center;
    img {
        max-width: 300px;
    }
}

.face {
    padding: 1rem 0;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    margin: 1rem 0 2rem;
    overflow: hidden;
}




/* Publirreportaje */
.single-publirreportajes {
    background-color: #f5f5f5;
    .header_interior {
        display: none;
    }
    .header {
        border-bottom: 1px solid #fff;
        .patrocinador {
            position: absolute;
            top: 0;
            left: auto;
            right: 0;
            height: 70px;
            > * {
                display: inline-block;
                vertical-align: middle;
                margin: 5px 0 5px 1rem;
                padding: 0;
                color: #fff;
                img {
                    max-height: 60px;
                }
            }
        }
    }
    #content {
        margin-top: 70px;
        .imgfondo {
            width: 100%;
            overflow: hidden;
            height: 750px;
            position: fixed;
            z-index: -1;
            text-align: center;
            background-repeat: no-repeat;
            background-position: center top;
            // background: url("<?php $imagen_redimensionada; ?>") no-repeat center top scroll transparent;
            img {
                // position: absolute;
                // top: 0;
                // left: 0;
                display: none;
            }
            &:after {
              @extend .sobrecapa;
              @extend .gradient-fosc;
            }
        }
        .contenido {
            position: relative;
            z-index: 1;
            .cabecera_publi {
                height: 600px;
                color: #fff;
                text-align: center;
                position: relative;
                .bl_txt {
                    left: 50%;
                    margin: auto;
                    position: absolute;
                    top: 50%;
                    width: 100%;
                    transform: -webkit-translate(-50%, -50%);
                    transform:         translate(-50%, -50%);
                    h1 {
                        font: 6rem/1 'nationalweb-semibold', $predet-fonts;
                        text-transform: uppercase;
                        margin-bottom: 2rem;
                    }
                    .entradilla {
                        font-size: 1.5rem;
                    }
                }
            }
            ul.redes {
                padding: 0;
                border-bottom: 0 none;
                height: 60px;
                li {
                    float: none;
                }
            }
            .cuerpo_publi {
                background-color: #fff;
                padding: 0;
            }
            .ancho {
                img {
                    width: 100%;
                }
            }
        }
        .bloque-texto {
            background-color: #f5f5f5;
        }
    }
    .entry-content {
        background: #fff;
        padding: 4.5rem 7rem;
        h2.bajada, h2.bajada p {
            font: 2.2rem/1 'nationalweb-regular', $predet-fonts;
            margin: 0 0 3rem;
            color: $grisoscuro;
        }
        h3 {
            font: 1.25rem 'nationalweb-semibold', $predet-fonts;
            padding-bottom: 0;
        }
        p {
            color: $grismedio;
            line-height: 1.5;
            margin-bottom: 1.5rem;
            font-size: 1.125rem;
        }
    }
}




/* Foto galería */

.opciones_galeria.row {
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

.opciones_galeria ul.tipogal {
    text-align: right;
    li {
        display: inline-block;
        a {
            display:block;
            text-align: left;
            background: #ccc url(../img/iconos_fotogal.png) no-repeat left center;
            width: 50px;
            height: 50px;
            @include border-radius (3px);
            text-indent: -4000px;
        }
    }
}

.opciones_galeria ul.tipogal li.slider a {
    background-position: 11px center;
}

.opciones_galeria ul.tipogal li.slider.activo a {
    background: url(../img/iconos_fotogal2.png) no-repeat 11px center $rojo;
}

.opciones_galeria ul.tipogal li.completa a {
    background-position: -44px center;
}

.opciones_galeria ul.tipogal li.completa.activo a {
    background: url(../img/iconos_fotogal2.png) no-repeat -44px center $rojo;
}

.opciones_galeria ul.tipogal li.galeria a {
    background-position: -99px center;
}

.opciones_galeria ul.tipogal li.galeria.activo a {
    background: url(../img/iconos_fotogal2.png) no-repeat -99px center $rojo;
}

/* .ficha.fotogaleria */.owl-controls .owl-buttons div {
    width: 50px;
    height: 50px;
    @include border-radius (3px);
    text-indent: -4000px;
    position: absolute;
    top: 48%;
    // margin-top: -45px;
} 

/* .ficha.fotogaleria */.owl-controls .owl-prev {
    left:20px;
    background: rgba(0, 0, 0, .35) url(../img/nav2.png) no-repeat left center;
}

/* .ficha.fotogaleria */.owl-controls .owl-next {
    right:20px;
    background: rgba(0, 0, 0, .35) url(../img/nav2.png) no-repeat right center;
}

/* .ficha.fotogaleria */.owl-controls .owl-pagination {
    display: none;
}

/* .ficha.fotogaleria */.owl-controls div {
    opacity: .95;
}

.ficha.fotogaleria.owl-controls div:hover {
    opacity: 1;
}

.ficha.fotogaleria .unloaded {
    min-height: 200px;
}

.ficha.fotogaleria #slider-fotogaleria .foto a {
    text-align: center;
    background-color: $grisoscuro;
    img {
        min-width: 80%;
    }
}

.ficha.fotogaleria .foto.completa img {
    width: inherit;
}

.ficha.fotogaleria .foto.completa {
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 2rem;
    text-align: center;
}

.ficha.fotogaleria .foto.completa:last-child {
    border-bottom: 0 none;
}

/* .ficha.fotogaleria */.foto a + .row  {
    padding: 1rem 0;
    margin-bottom: 0;
}

.ficha.fotogaleria .row p {
    color: #333;
    text-align: left;
}

.ficha.fotogaleria .row .numero {
    text-align: right;
    color: $grismedio;
    // float: right;
    border-left: 1px solid #dfdfdf;
}

.ficha.fotogaleria .grid-item {
    width: 260px;
    margin: 0 10px 20px 10px;
}

.ficha.fotogaleria .grid {
    text-align: center;
}

.ficha.fotogaleria a.fancybox {
    display: block;
    position: relative;
}

.ficha.fotogaleria a.fancybox:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../img/more.svg) no-repeat center center / 30px auto scroll rgba(0,0,0,.7);
    @include transition(.2s ease);
}

.fotogaleria-noticias {
    max-width: 700px;
    margin: 0 auto;
    .owl-item {
        min-height: 1px;
    }
}

.mas_fotogalerias {
    padding: 0;
    width: 100%;
    background-color: #ebebeb;
    margin-top: 3rem;
    > .row {
        padding: 1.25rem 0;
        .tit {
            float: left;
            font: 1.5rem 'nationalweb-semibold', $predet-fonts;
        }
        .mas_fotog {
            padding: 0 20px 0 0;
            color: $rojo;
            float: right;
            background:transparent url(../img/mas.png) no-repeat right 6px;
        }
        article {
            display: inline-block;
            vertical-align: top;
            a {
                display: block;
                h3 {
                    margin: 1rem 0;
                    font: 1.25rem 'nationalweb-regular', $predet-fonts;
                    color: #000;
                }
                img {
                    width: 100%;
                }
            }
        }
    }
}

.mas_fotogalerias .row .row {
    float:left;
    width: 100%;
    padding-top: 2rem;
}




/* La cuarta TV */

.lacuartatv .titseccion {
    background: url(../img/logo_lacuartatv.png) no-repeat left top scroll transparent;
    @extend .textocult;
    height: 50px;
    margin-left: .1rem;
}

.lacuartatv > .row + div {
    background-color: #F2EFEC;
}

.lacuartatv #slider-lacuartatv .item > a > div {
    max-height: 110px;
    overflow: hidden;
    span.video {
        left: 20px;
        top: 20px;
    }
}

.lacuartatv #slider-lacuartatv .item.seleccionada {
    background-color: #D9D6D3;
    &::after {
        content: '';
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 10px solid #fff;
        left: 40%;
        bottom: 0;
        position: absolute;
    }
    div {
        border: 3px solid $rojo;
        &:after {
            position: absolute;
            left: 15%;
            right: 15%;
            top: 25%;
            content: 'Estas viendo...';
            text-transform: uppercase;
            font-size: .875rem;
            text-align: center;
            color: #fff;
            display: block;
            padding: .5rem 1rem;
            width: 70%;
            background-color: $rojo;
            @include border-radius (3px);
        }
        span {
            display: none;
        }
    }
}

.lacuartatv #slider-lacuartatv .item p {
    font-family: 'nationalweb-semibold', $predet-fonts;
    font-size: 1rem;
    margin: 10px 0;
    padding-top: 0;
    color: $grisoscuro;
}

.lacuartatv #slider-lacuartatv .owl-controls .owl-prev {
    left: -40px;
    background: transparent url(../img/nav5.png) no-repeat left center;
    top: 40%;
}

.lacuartatv #slider-lacuartatv .owl-controls .owl-next {
    right: -40px;
    background: transparent url(../img/nav5.png) no-repeat right center;
    top: 40%;
}

.lacuartatv #video-actual {
    margin: 2rem auto;
    position: relative;
    .img {
        .video {
            @extend .play;
            left: 45%;
            top: 40%;
            width: 80px;
            height: 80px
        }
        img {
            width: 100%;
        }
        &:after {
            @extend .sobrecapa;
            @extend .gradient-fosc;
        }
    }
    .txt {
        position: absolute;
        bottom: 2rem;
        left: 2rem;
        right: 2rem;
        h3 {
            text-align: center;
            font: 3rem 'nationalweb-semibold', $predet-fonts;
            color: #fff;
        }
    }
}




/*especial*/
.single-especial .portada.especial, .single-noticia {
    .cab_especial {
        padding: 40px 10px 0;
        border: 0;
        margin-bottom: 0;
        ul {
            background: #000;
            padding: 15px 0;
            border-top: 1px solid #555;
            border-bottom:1px solid #fff;
            li {
                display: inline-block;
                text-transform: uppercase;
                a {
                    color: #fff;
                    display: block;
                    padding: 0 0 0 20px;
                }
            }
        }
        img {
            min-width: 100%;
        }
    }
    .apertura_destacado {
        margin-top: 0;
        .not_cat{
            &:after{
                display: none;
            }
        }
        h1 a {
            color: #fff;
        }
    }
}



/* Contacto */

form.wpcf7-form {
    h3 {
        margin-bottom: 20px;
        border-bottom: 3px solid #222;
        width: 100%;
        max-width: 600px;
    }
    .wpcf7-list-item {
        margin: 0 4% 0 0;
    }
    input:not([type="radio"]), textarea {
        border: 1px solid #ccc;
        padding: 10px 1%;
        margin: 10px 0;
        width: 100%;
        max-width: 600px;
        &:focus {
            border-color: $rojo;
            outline: 0 none;
        }
    }
    input[type="submit"] {
        max-width: 150px;
        width: 100%;
        text-transform: uppercase;
        border: 1px solid $rojo;
        background-color: transparent;
        color: $rojo;
        cursor: pointer;
        margin: 40px 0;
        &:hover {
            background-color: $rojo;
            color: #fff;
        }
    }
    .wpcf7-response-output {
        border: 0 none;
        background-color: #398f14;
        margin: 0;
        color: #fff;
        width: 100%;
        max-width: 600px;
        text-align: center;
        padding: 20px;
    }
}





/* Pag 404 */

.error404 {
    .content .column {
        > img {
            margin-bottom: 2rem;
        }
        > img + p {
            margin: 3rem 0 1rem;
            font-size: 1.25rem;
            color: #666;
        }
        .b_google {
            border-color: #fef73f;
            float: none;
            margin-bottom: 1rem;
            z-index: 11;
            form table tr td {
                padding: 0!important;
                input.gsc-search-button {
                    margin: 0!important;
                    background-size: 35px auto!important;
                }
            }
        }
        > a {
            width: 100%;
            background-color: $rojo;
            color: #fff;
            padding: 1.25rem;
            margin-bottom: 2rem;
        }
        .contenedorruleta {
            width: 100%;
            float: none;
            margin: 0;
        }
    }
    .gris {
        background-color: $back-publi;
        margin-top: 2rem;
        > p {
            padding-top: 1.25rem;
            font-size: 1.25rem;
            color: #666;
                margin-bottom: 1rem;
        }
        .modulo.calentitos {
            padding: 0;
        }
    }
}