html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{font-size:100%;font:inherit;padding:0;border:0;margin:0;vertical-align:baseline}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}.clear{clear:both}.sticky{}.bypostauthor{}.wp-caption{}.wp-caption-text{}.gallery-caption{}.alignright{}.alignleft{}.aligncenter{}

*, *:before, *:after {
    @include box-sizing(border-box);
}

body {
    color:#000;
    font-family: 'nationalweb-regular', $predet-fonts;
    font-size:1em;
    line-height:1.2;
    font-weight: 400;
    overflow-x: hidden;
    text-rendering:optimizeLegibility;
            font-smoothing:antialiased;
       -moz-font-smoothing:antialiased;
    -webkit-font-smoothing:antialiased;
    padding-top: 0!important;
    background-position: center 220px!important;
    background-repeat: no-repeat!important;
    background-color: transparent!important;
}

a, input {
    text-decoration: none;
    outline: none;
    @include transition(.2s ease);
}

area, area:focus {
  outline: 0;
  border: none;
}

html {
    color: #222;
    font-size: 1rem;
    line-height: 1.4;
}

input {
    border: 0 none;
    display: inline-block;
    vertical-align: top;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

iframe {
    position: relative;
    z-index: 1;
    width: 100%;
}

.header a,
.header_interior a,
.bot_destacamos,
.portada h1 a,
.portada h2 a,
.portada h3 a,
.portada ul.relacionadas li a,
.footer a {
    &:hover {
        opacity: .7;
    }
}




//* ESTRUCTURA *//


/* HEADER HOME */

header.header_home .publi_boton {
    position: absolute;
    right: 2px;
    top:2px;
    z-index: 12;
}

header .header {
    width: 100%;
    background-color: $rojo;
    padding: 35px 0;
    position: relative;
    height: 120px;
    z-index: 12;
}

header .header::after {
    display: block;
    @extend .sobrecapa;
    height: 7px;
    background-color: rgba(0,0,0,.05);
}

header .redes {
    border-bottom: 0 none;
    position: absolute;
    top: 2.25rem;
    right: 1rem;
    z-index: 13;
}

body.fixed header .redes {
    top: 1rem;
}

header .nav_v {
    .redes {
        position: relative;
        padding: 0 1.5rem;
        top: 0;
        right: 0;
        li {
            font-size: 1.25rem;
            width: 30px;
            &:before {
                color: $grisoscuro;
            }
        }
        &:before {
            content: 'Siguenos en';
            font-size: .75rem;
            color: $grismedio;
            position: absolute;
            top: -1.5rem;
            left: 1.5rem;
        }
    }
}

header .redes li, .publirreportajes .redes li {
    display: inline-block;
    vertical-align: top;
    font-size: 2.2rem;
    width: 40px;
    background-color: transparent !important;
}

header .redes li:before, .publirreportajes .redes li:before {
    position:absolute;
    color: #fff;
    font-family: "untitled-font-1";
    left: 0;
}

header .nav_v .redes li.twitter:before {content: "l";}
header .nav_v .redes li.facebook:before {content: "j";}
header .nav_v .redes li.google:before {content: "n";}
header .nav_v .redes li.instagram:before {background: url(../img/instagram1.svg) no-repeat center center / 17px scroll transparent; display: block; content:''; width: 18px; height: 24px;}

header .redes li.twitter:before {content: "m";}
.publirreportajes .redes li.twitter:before {content: "m"; color: #000;}
header .redes li.facebook:before {content: "k";}
.publirreportajes .redes li.facebook:before {content: "k"; color: #000;}
header .redes li.google:before {content: "o";}
header .redes li.instagram:before {background: url(../img/instagram2.svg) no-repeat center 3px / 33px auto scroll transparent; display: block; content:''; width: 34px; height: 40px;}
.publirreportajes .redes li.instagram:before {background: url(../img/instagram3.svg) no-repeat center 3px / 33px auto scroll transparent; display: block; content:''; width: 34px; height: 40px;}
.publirreportajes .redes li.mail:before {background: url(../img/email.svg) no-repeat center 3px / 33px auto scroll transparent; display: block; content:''; width: 34px; height: 40px;}
header .redes li.rss:before {content: "q";}

header .redes li:after,
.publirreportajes .redes li:after {
    display: none;
}

header .redes li a,
.publirreportajes .redes li a {
    display: block;
    position: relative;
    padding: 0;
    @extend .textocult;
}


header .logo a img {
    width:auto;
    height: auto;
}

header .header h1 {
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 1;
}

header .menu-superior-top-container ul li {
    font-size: .688rem;
    padding: 0 10px;
    display: inline-block;
    vertical-align: top;
}

header .subheader #nav {
    min-height: 3px;
}

.header_home .logotipo {
    text-align: center;
    @include transition(.2s ease);
}

.header_home .subheader {
    background: $rojo2;
    width: 100%;
    border-top: 1px solid #fff;
    position: relative;
    z-index: 12;
}

.header_home .subheader nav {
    text-align: center;
    .bot_nav {
        display: none;
    }
    .nav_v {
        .redes {
            display: none;
        }
    }
}

body.fixed .header_home .subheader nav .nav_v .redes {
    display: block;
}

.header_home .subheader .menu-superior-horizontal-container {
    display: inline-block;
    margin: 0 auto;
    padding: 24px 0 30px;
    vertical-align: top;
}

.header_home .subheader .menu-superior-horizontal-container ul li {
    display: inline-block;
    font-size: .875rem;
    a {
        color: #fff;
        padding: 0 1.563rem 5px 0;
        font-family: 'Roboto', $predet-fonts;
        font-size: .875rem;
        font-weight: 400;
        position: relative;
        text-transform: uppercase;
    }
}

.header_home .subheader .bot_buscar {
    cursor: pointer;
    margin: 25px 10px 15px 10px;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 1rem;
    top: 0;
}

.header_home .subheader .bot_buscar:after { 
    font-family: "untitled-font-1";
    content: "z"; color: #fff;
    font-size: .875rem;
    position: absolute;
}





/* HEADER FIXED */


body.fixed .header_interior,
body.fixed .header_home,
.header_publirreportajes {
    position: fixed;
    width: 100%;
    z-index: 12;
    top: 0;
}

.home .header_espacio {
    height: 0;
}

.header_espacio,
body.fixed .header_home + .header_espacio {
    height: 70px;
}

body.fixed.publiskin .header_home + .header_espacio {
    display: none;
}

.header_interior .header,
body.fixed .header_home .header,
.header_publirreportajes .header {
    height: 70px;
    padding: 1.3rem 2rem;
}

.header_interior .subheader,
body.fixed .header_home .subheader {
    position: relative;
    top: -70px;
    left: 217px;
    z-index: 12;
    background: transparent;
    width: auto;
    border-top: 0 none;
}

.header_interior .subheader .bot_nav,
body.fixed .header_home .subheader .bot_nav {
    cursor: pointer;
    float: left;
    font: 400 1rem/1.15 'nationalweb-regular', $predet-fonts;
    margin: 21px 0 0 0;
    padding: 5px 13px 7px 45px;
    position: relative;
    background-color: $rojo2;
    color: #fff;
    height: 30px;
    display: block;
    @include border-radius (3px);
    &:before  {
        font-family: "flaticon";
        padding-left: 1.125rem;
        content: "\e003";
        color: #fff;
        font-size: 1.125rem;
        position: absolute;
        top: 5px;
        left: -9px;
    }
}

.header_interior .subheader .nav_v,
body.fixed .header_home .subheader .nav_v {
    display: none;
    z-index: 100;
    position: absolute;
    left: -217px;
    top: 65px;
    width: 310px;
    height: 100vh;
    padding: 10px 0px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: -8px;
        right: 5%;
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 20px solid #fff;
    }
    > div {
        padding: 1.5rem 1.5rem 3rem;
        display: block;
        ul li {
            padding: 0 0 1rem;
            text-align: left;
            display: block;
            a {
                color: #000;
                font: 400 .875rem 'Roboto', $predet-fonts;
                position: relative;
                text-transform: uppercase;
                display: block;
                padding: 0;
                &:hover:after {
                    content: '';
                    top: 1rem;
                    left: 0;
                    position: absolute;
                    border-bottom: 2px solid #000;
                    height: 10px;
                    width: 40px;
                }
            }
        }
        ul li.menu-item-type-custom {
            a {
                color: $rojo;
                &:hover:after {
                    border-color: $rojo;
                }
            }
        }
    }
}

body.fixed .header_home .subheader .nav_v.muestra,
.header_interior .subheader .nav_v.muestra {
    display: block;
}

.header_interior .subheader .bot_buscar,
body.fixed .header_home .subheader .bot_buscar {
    background: $rojo2;
    cursor: pointer;
    display: block;
    height: 30px;
    width: 36px;
    margin: 21px;
    padding: 5px 9px;
    position: absolute;
    left: 75px;
    text-align: left;
    @include border-radius (3px);
}

.header_interior .subheader .bot_buscar:after, 
body.fixed .header_home .subheader .bot_buscar:after {
    font-family: "untitled-font-1";
    content: "z";
    color: #fff;
    font-size: 15px;
    position: absolute;
}

.header_interior .logo,
body.fixed .header_home .logo,
.header_publirreportajes .logo {
    float: left;
    position: relative;
    z-index: 1;
}

.header_interior .logo a img,
body.fixed .header_home .logo a img,
.header_publirreportajes .logo a img {
    height: 30px;
    width: auto;
}

header .b_google {
    position: absolute;
}

.header_interior .b_google_negro.muestra {
    top: 176px;
}

.b_google {
    z-index:1000;
    position: relative;
    display: none;
    border-top: 4px solid #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    background: #fff;
    float: left;
    width: 100%;
    margin-top: -3px;
}

.b_google.muestra {
    display: block;
}

.b_google_negro.muestra {
    z-index: 12;
    background:rgba(0, 0, 0, .7);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.b_google table.gsc-search-box {
    margin-bottom: 0!important;
}

.b_google .cse form.gsc-search-box,
 form.gsc-search-box {
    margin-bottom: 0!important;
}

.b_google .cse table.gsc-search-box td.gsc-input,
.b_google input.gsc-input {
    padding: 15px!important;
    border:0!important;
    font-size: 20px!important;
    font-family: Helvetica, Arial, sans-serif!important;
}

.b_google .cse table.gsc-search-box td.gsc-input,
table.gsc-search-box td.gsc-input {
    padding-left: 27px!important;
}

.b_google .cerrar {
     position: absolute;
      right: 0px;
     top: -55px;
     background:#333333 url(../img/g_cerrar.gif) no-repeat 0 0!important;
     width: 60px;
     height: 55px;
     display: block;
     cursor: pointer;
}

.b_google input.gsc-search-button  {
    cursor: pointer!important;
    display: block!important;
    float: right!important;
    height: 44px!important;
    margin: 15px 0px 15px 10px!important;
    padding: 0!important;
    position: relative!important;
    width: 45px!important;
    border: 0!important;

    text-indent: -4000px!important;
    background:transparent url(../img/lupa_g.gif) no-repeat 0 0!important;
}



/* Publicidad */

.sky {
  position: relative;
}

.modulo.publicidad {
  width: 100%;
  padding: 3rem 0px;
  background-color: $back-publi;
}

.bl_publi, .bl_publi_top {
    padding: 2rem;
    text-align: center;
    background-color: $back-publi;
}

.bl_publi_top {
    padding: 20px 0;
}

.bl_publi_top.bajo {
    /*
    height: 70px;
    padding: 10px 0;
    */
    padding: 0;
}

.bl_publi_top.bajo > div {
    height: auto!important;
    width: auto!important;
}

.bl_publi_top.bajo > div > div {
    height: 80px!important;
    padding: 10px 0;
}

.bl_publi_top.bajo > div > div > div {
    height: auto!important;
    padding: 0;
}

.bl_publi_top a#click {
    width: auto!important;
    height: auto!important;
}

.bl_publi_pie {
    padding: 2rem 2rem 0;
    text-align: center;
}

.bl_publi_pie iframe {
    width: 100%!important;
}

.lacuartatv > .row + div.bl_publi_pie {
    background-color: transparent;
    padding: 0;
}

.bl_publi.widget {
    margin-bottom: 2.5rem;
    padding: 0;
    background-color: transparent;
    width: 100%;
    > div {
        margin: 0 auto;
        max-height: none!important;
    }
}

.bl_publi.lateral {
    margin-bottom: 2.5rem;
    display: inline-block;
    padding: 0;
    background-color: transparent;
    width: 100%;
    > div {
        margin: 0 auto;
    }
}

.publi_sky {
    background: #f2efec;
    position: absolute;
    left: -180px!important;
    top: 110px;
    width: 160px;
    height: 600px;
    background:transparent!important;
}

.home .publi_sky {
    top: 30px!important;
    left: -180px!important;
}

.single-noticia .publi_sky {
    top: 28px!important;
}

.bl_publi.lo_mas {
    position: absolute;
    top: 119px;
    left: 50%;
    margin-left: 199px;
    width: 360px;
    > div {
        margin: 0 auto;
    }
}




.html.lateral {
    margin-bottom: 2.5rem;
}

article + .html.lateral {
    margin-top: 2.5rem;
}

#nanosite {
    float: left;
    background-color: #fff;
}

body.publiskin {
    background-position: center 394px!important;
}

body.publiskin.fixed {
    background-position: center 200px!important;
}

body.single-portada.publiskin {
    background-position: center 272px !important;
}

body.single-portada.publiskin.fixed {
    background-position: center 199px !important;
}

body.single-noticia.publiskin {
    background-position: center 202px !important;
}

body.single-noticia.publiskin.fixed {
    background-position: center 132px !important;
}

body.publiskin .publi_sky {
    display: none;
}

body.publiskin .bl_sky_completo {
    max-width: 1160px;
    margin: 107px auto 0;
    background-color: #fff;
    z-index: 1;
    position: relative;
}






/* Widget OPTA */

body #content .opta-widget-container {
    margin: 0;
    h2 {
        margin-bottom: 0;
        background-color: $rojo;
        border-radius:0!important;
        span {
            display: block;
            font-size: .813rem;
        }
    }
}

body #content .opta-loader {
    font-family: 'nationalweb-regular', $predet-fonts;
}

.opta-widget-container .actionareas, .opta-widget-container .averageposition, .opta-widget-container .c_scorecard, .opta-widget-container .chalkboard, .opta-widget-container .commentary, .opta-widget-container .comparison, .opta-widget-container .fixtures, .opta-widget-container .formation, .opta-widget-container .goalreplay, .opta-widget-container .matchstats-teamstats-container, .opta-widget-container .motorsport-liverace .tabs-content, .opta-widget-container .news-article, .opta-widget-container .opta-widget, .opta-widget-container .optafacts, .opta-widget-container .passingcombination, .opta-widget-container .profile, .opta-widget-container .ranking-container, .opta-widget-container .rbvis, .opta-widget-container .season-standings, .opta-widget-container .squad, .opta-widget-container .standings, .opta-widget-container .standings-container, .opta-widget-container .stats, .opta-widget-container .team-container, .opta-widget-container .teamlist, .opta-widget-container .teamlist-onerow, .opta-widget-container .ticker, .opta-widget-container .timeline, .opta-widget-container .tracking-player-breakdown, .opta-widget-container .venues, .opta-widget-container .wagonwheel {
    border-radius:0!important;
}



.embed-container-dps-rudo-iframe-16x9 {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.embed-container-dps-rudo-iframe-4x3 {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
    iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}



/* Paginador */

.wp-pagenavi {
    margin: 30px 0;
    text-align: center;
    font-size: 1.125rem;
    > * {
        display: inline-block;
        vertical-align: top;
        margin-right: 1%
    }
    span {
        border: 0 none;
    }
    a {
        color: $rojo;
        border: 0 none;
    }
    .pages {
        margin-right: 3%;
        color: #aaa;
    }
}




/* FOOTER */

#slider-papeldigital {
    background-color: #3c3c3c;
    padding: 40px 0;
    margin-top: 40px;
    position: relative;
    &:after {
        @extend .sobrecapa;
        top: 98px;
        height: 1px;
        background-color: #494949;
    }
     div > p {
        font: 1.375rem/1.15 'nationalweb-semibold', $predet-fonts;
        text-transform: uppercase;
        color:#fff;
        padding: 0px 40px 20px;
        margin: 0 0 20px;
    }
    .owl-carousel {
        padding: 20px 40px 0;
        .owl-item > div {
            text-align: center;
            img {
                height: 215px;
                width: 160px;
                border: 3px solid #fff;
            }
        }
    }
}

footer {
    border-top: 1px solid #fff;
    background-color: $rojo2;
    width: 100%;
    &:after {
        background-color: rgba(0, 0, 0, 0.05);
        content: "";
        display: block;
        height: 7px;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }
    > .row {
        padding: 4rem 0;
    }
    ul li {
        width: 32%;
        display: inline-block;
        vertical-align: top;
        a {
            color: #fff;
            font-size: .875rem;
            text-transform: uppercase;
            font-style: normal;
        }
    }
}

footer .copesa {
    border-top:1px solid #fff;
    background-color: $grisoscuro;
    padding: 1rem 0;
    .logo_copesa {
        padding-top: .25rem;
    }
    .logos_pie {
        padding-top: .5rem;
        a {
            background: transparent url(../img/logos_pie_base.png) no-repeat left 0;
            width: 120px;
            height: 25px;
            margin: 0 0 0 15px;
            float: left;
            display: block;
            text-indent: -4000px;
            text-align: left;
        }
    }
}


footer .copesa .logos_pie a.logo_latercera {background-position: left 0; width:78px;}
footer .copesa .logos_pie a.logo_lacuarta {background-position: left -25px; width:64px;}
footer .copesa .logos_pie a.logo_pulso {background-position: left -50px; width:45px;}
footer .copesa .logos_pie a.logo_lahora {background-position: left -75px; width:75px;}
footer .copesa .logos_pie a.logo_diarioconcepcion {background-position: left -100px; width:96px;}
footer .copesa .logos_pie a.logo_quepasa {background-position: left -125px; width:40px;}
footer .copesa .logos_pie a.logo_paula {background-position: left -150px; width:78px;}
footer .copesa .logos_pie a.logo_hola {background-position: left -175px; width:46px;}
footer .copesa .logos_pie a.logo_glamorama {background-position: left -200px; width:67px;}
footer .copesa .logos_pie a.logo_biut {background-position: left -225px; width:40px;}
footer .copesa .logos_pie a.logo_duna {background-position: left -250px; width:75px;}
footer .copesa .logos_pie a.logo_beethovenfm {background-position: left -275px; width:57px;}
footer .copesa .logos_pie a.logo_radiodisney {background-position: left -300px; width:32px;}
footer .copesa .logos_pie a.logo_icarito {background-position: left -355px; width:82px;}
footer .copesa .logos_pie a.logo_zero {background-position: left -386px; width:35px; height: 35px;}
footer .copesa .logos_pie a.logo_carolina {background-position: left -430px; width:92px;}
footer .copesa .logos_pie a.logo_radiopaula {background-position: left -462px; width:112px; height: 30px;}


/*
display: inline-block;
vertical-align: middle;
height: 30px;
margin-bottom: 5px;
*/