

/* HOME */


.modulo {
    width: 100%;
    padding: 1.25rem 0;
    position: relative;
}

.modulo a.vermas {
    float: right;
    font-family: 'nationalweb-semibold', $predet-fonts;
    color: $rojo;
    font-size: 1.063rem;
    padding-top: 1rem;
}

.portada article {
    margin-bottom: 1.35rem;
    padding-bottom: 1rem;
}




/* Aperturas */

.portada .apertura {
    margin: 30px auto 0;
    width: 1120px;
    padding-bottom: 0;
}

.portada .apertura_destacado {
    position: relative;
    .bl_fondo {
        max-height: 800px;
        overflow: hidden;
        .fondo_deg {
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 1;
            @extend .gradient-fosc;
        }
        img {
            width: 100%;
        }
        img.con_video {
            display: none!important;
        }
        .bl_txt.con_video {
            display: none!important;
        }
    }
}

.portada .doble.row {
    border-bottom: 0 none;
    .apertura_destacado {
        float: left;
        width: 49.25%;
        margin: 0;
        .bl_fondo {
            overflow: inherit;
            max-height: inherit;
            .bl_txt {
                width: -webkit-calc(100% - 4.1rem);
                width:         calc(100% - 4.1rem);
            }
            .video_relacionado .rel_txt {
                width: -webkit-calc(100% - 120px);
                width:         calc(100% - 120px);
            }
        }
        h1 {
            font-size: 3rem;
        }
    }
}

.portada .doble .apertura_destacado + .apertura_destacado {
    float: right;
}

.portada .apertura .bl_txt {
    bottom: 3rem;
    left: 3rem;
    position: absolute;
    z-index: 10;
    width: 60%;
}

.portada .apertura h1 {
    text-transform: uppercase;
    font: 4.5rem/.9 'nationalweb-semibold', $predet-fonts;
    margin: 2rem 0 1rem;
    -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
       -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
            text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
    a {
        color: #fef73f;
    }
}

.portada h3 {
    font: 2rem/1 'nationalweb-semibold', $predet-fonts;
    margin: 0 0 1rem;
    padding-top: 1rem;
    a {
        color:#000;
    }
}

.portada .not_cat + h3 {
    padding-top: 0;
}

.portada .not_cat + h3 + .entradilla {
    padding-top: 0;
    margin: 0 0 1rem;
}

.portada .txt {
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    background-color: #222;
    .entradilla {
        font: 300 1.125rem/1 'nationalweb-regular', $predet-fonts;
        color: #fff;
        padding: 0 .2rem 1rem .2rem;
    }
}

.portada .apertura .video_relacionado,
.portada .apertura.imagen-izquierda .video_relacionado {
    float:left;
    width:100%;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    img {
        width: 90px;
        height: auto;
        border: 1px solid #fff;
        float: left;
    }
    .rel_txt {
        padding-left:20px;
        position: static;
        float: left;
        width: -webkit-calc(100% - 120px);
        width:         calc(100% - 120px);
        span {
            color:#FEF73E;
        }
        h3 {
            color: #fff;
            font-size: 1.25rem;
            padding-top: 0;
            max-width: 350px;
            margin: 0;
            a {
                color: #fff;
            }
        }
    }
}

.portada .apertura.imagen-izquierda.clara .video_relacionado .rel_txt span,
.portada .apertura.imagen-izquierda.clara .video_relacionado .rel_txt h3 a {
    color: #333;
}

.portada .apertura.imagen-izquierda {
    background-color: #1f1f1f;
    .fondo_deg {
        display: none;
    }
    img {
        width: 50%;
    }
    div.bl_txt {
        width: 50%;
        background-color: #1f1f1f;
        padding: 1rem 2rem 2rem;
        bottom: auto;
        left: auto;
        top:0;
        right: 0;
        .txt {
            padding-bottom: 0;
            h1 {
                font-size: 3rem;
            }
        }
    }
}

.portada .apertura.imagen-izquierda.videorel div.bl_txt .txt h1 {
    font-size: 2rem;
}

.portada .apertura.imagen-izquierda.clara {
    background-color: #f2efec;
    div.bl_txt {
        background-color: #f2efec;
        .not_cat {
            border-bottom: 1px solid #dfdfdf;
            a {
                color: $grismedio;
            }
        }
        h1 a {
            color: $grisoscuro;
        }
        .entradilla {
            color: $grisoscuro;
        }
    }
}

.portada .apertura.imagen-izquierda .not_vid {
    position: relative;
    width: 50%;
}

.portada .apertura.streaming {
    margin-bottom: 2rem;
    .banner {
        margin-bottom: 1px;
        img {
            width: 100%;
        }
    }
    .column.eight {
        padding: 0;
        background-color: #000;
        .txt {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 5;
            .endirecto {
                @extend .bot;
                color: $grisoscuro;
                font: .75rem 'Roboto', $predet-fonts;
                text-transform: uppercase;
                background-color: #fef73f;
                position: absolute;
                width: 200px;
                top: 2rem;
                left: 2rem;
            }
            .video {
                background-color: rgba(246, 240, 80, .9);
                border: 5px solid rgba(255, 255, 255, .4);
                width: 85px;
                height: 85px;
                left: 43%;
                top: 20%;
                &:after {
                    border-top-width: 10px;
                    border-left-width: 15px;
                    border-bottom-width: 10px;
                }
            }
            div {
                position: absolute;
                bottom: 0;
                width: 90%;
                margin: 0 5% 3rem;
                border-top: 1px solid rgba(255, 255, 255, .2);
                text-align: center;
                h1 {
                    color: #fef73f;
                    font-size: 3rem;
                    margin-bottom: 1rem;
                }
                p {
                    color: #fff;
                }
            }
        }
        .video {
            width: 100%;
            height: 100%;
            overflow: hidden;
            .fondo_deg {
                @extend .sobrecapa;
                @extend .gradient-fosc;
            }
            img {
                height: 100%;
            }
            .not_vid {
                iframe {
                    left: 0;
                    margin: auto;
                    position: absolute;
                    text-align: center;
                    top: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }    
    }
    .column.four {
        background-color: #222;
        padding: 2rem 1rem;
        border-left: 1px solid #fff;
        li {
            margin-bottom: 1rem;
            h4 {
                font-family: 'nationalweb-semibold', $predet-fonts;
                font-size: 1.125rem;
                margin-bottom: .5rem;
                a {
                    color: #fff;
                }
            }
            p {
                color: #ddd;
                margin-bottom: .5rem;
            }
            .vermas {
                color: #fef73f;
                &:hover {
                    color: #fff;
                }
            }
        }
    }

}

.portada .apertura.streaming .column.eight.ancho_completa {
    width: 100%;
    .txt {
        .endirecto {
            color: #fff;
            background-color: $rojo;
        }
        .video {
            top:50%;
            left: 50%;
            margin-left: -32px;
            background-color:rgba(255, 0, 24, .4);
            margin-top:-40px;
        }
        div p {
            display: block;
            margin: 0 auto;
            max-width: 900px;
        }
    }
}


.portada .apertura span.video {
    @extend .play;
    top: 3rem;
    left: 3rem;
    background-color: transparent;
    border-color: #fff;
}

.portada .apertura .not_vid {
    position: relative;
    top: 0;
    z-index: 11;
    width: 100%;
    height: 100%;
    background-color: #000;
    p {
        @extend .centra-verti;
        width: 100%;
    }
}



.portada {
    article.publirreportaje {
        .img {
            position: relative;
            img {
                border: 4px solid $rojo;
            }
        }
        span.publirreportaje {
            @extend .bot;
            background-color: $rojo;
            font: .75rem 'Roboto', $predet-fonts;
            color: #fff;
            position: absolute;
            top: 1rem;
            left: 1rem;
            @include border-radius (2px);
        }
        .not_cat {
            &:after {
                display: none;
            }
        }
    }
}





/* Módulos oscuros: Campeonato / La butaca / La Picada / Matrix / Mascotas / el Humor / Super ruleta */

.modulo.fondo-oscuro-logo, .modulo.butaca, .modulo.mascotas, .modulo.elhumor, .modulo.superruleta {
    background-color: #212121;
}

.modulo.lapicada {
    background: url(../img/fondo_lapicada.jpg) no-repeat center top / 100% auto scroll #212121;
}

.modulo.matrix {
   padding-top: 0;
   background: url(../img/fondo_matrix.jpg) no-repeat center top / 100% auto scroll #212121;
}

.modulo.fondo-oscuro-logo .bl_publi, .modulo.butaca .bl_publi, .modulo.lapicada .bl_publi, .modulo.matrix .bl_publi, .modulo.mascotas .bl_publi {
   background-color: #1c1c1c;
}

.modulo.fondo-oscuro-logo {
   border-top: 3px solid #FEF73F;
}

.modulo.butaca::after {
    content: '';
    position: absolute;
    top: 92px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #c41d46;
}

.modulo.lapicada::after {
    content: '';
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #3e3e3e;
}

.modulo.matrix::after {
    content: '';
    position: absolute;
    top: 87px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #5e5e5e;
}

.modulo.mascotas::after {
    content: '';
    position: absolute;
    top: 98px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #7e3e95;
}

.modulo.elhumor::after {
    content: '';
    position: absolute;
    top: 87px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #353535;
}

.modulo.butaca > .row {
    background: url(../img/logo_labutacapop.png) no-repeat left top / auto 72px scroll transparent;
    padding-top: 7rem;
}

.modulo.lapicada > .row {
    background: url(../img/logo_lapicada.png) no-repeat center top / auto 65px scroll transparent;
    padding-top: 7rem;
}

.modulo.matrix > .row {
    background: url(../img/logo_matrix.png) no-repeat left top / auto 88px scroll transparent;
    padding-top: 7rem;
}

.modulo.mascotas > .row {
    background: url(../img/logo_mascotas.png) no-repeat left top / auto 66px scroll transparent;
    padding-top: 7rem;
}

.modulo.elhumor > .row {
    background: url(../img/logo_elhumor.png) no-repeat left top / auto 47px scroll transparent;
    padding-top: 0;
}

.modulo.fondo-oscuro-logo .titulo {
    border-bottom: 1px solid #353535;
    margin-bottom: 2rem;
}

.modulo.fondo-oscuro-logo .text, .modulo.butaca .text, .modulo.lapicada .text, .modulo.matrix .text, .modulo.mascotas .text {
    background-color: #fff;
    padding-bottom: 1rem;
    //min-height: 160px;
}

.modulo.fondo-oscuro-logo .text > *, .modulo.butaca .text > *, .modulo.lapicada .text > *, .modulo.matrix .text > *, .modulo.mascotas .text > * {
    padding-left: 1rem;
    padding-right: 1rem;
}



/* Diario Versión digital */

.diario_version_digital {
    header {
        color: #666;
        vertical-align: middle;
        h3 {
            display: inline;
            font-family: "nationalweb-semibold", $predet-fonts;
            font-size: 1.375rem;
            text-transform: uppercase;
            margin-right: 1rem;
            &:after {
                content: '/';
                margin-left: 1rem;
                font-family: $predet-fonts;
            }
        }
    }
}

.slider-diario .owl-item {
    padding-bottom: 5px;
    img {
        border: 1px solid #D5D5D5;
    }
}

.slider-diario .owl-pagination {
    padding-top: 10px;
    div {
        width: 8px;
        height: 8px;
        display: inline-block;
        background: #ccc;
        @include border-radius (50%);
        margin: 3px 4px;
    }
    div.active {
        background: #585858;
    }
}

.slider-diario .owl-controls .owl-buttons div.owl-prev {
    left: 0;
    background: transparent url(../img/nav5.png) no-repeat scroll left center;
}
.slider-diario .owl-controls .owl-buttons div.owl-next {
    right: 0;
    background: transparent url(../img/nav5.png) no-repeat scroll right center;
}

.single-noticia .diario_version_digital {
    padding-top: 40px;
}




/* La cuarta TV */

.modulo_la_cuarta_tv header {}
.modulo_la_cuarta_tv header a {
    position: relative;
    z-index: 2;
    float: left;
}

.modulo_la_cuarta_tv header span {
    float: left;
    padding: 0;
    margin :0;
    background: url(../img/logo_lacuartatv.png) no-repeat left top / 199px auto scroll transparent;
    text-indent: -4000px;
    width: 200px;
    height: 72px;
}

#slider-lacuartatv .item {
    padding:15px 10px;
    position: relative;
}

#slider-lacuartatv .item  h3 {
    font-family: 'nationalweb-semibold', $predet-fonts;
    font-size: 1.063rem;
    margin: 20px 0 30px;
    padding-top: 0;
}

#slider-lacuartatv .item .img {
    padding: 0;
    position: relative;
    max-height: 130px;
    overflow: hidden;
}

#slider-lacuartatv span.video {
    @extend .play;
    left: 10px;
    top: 10px;
}



/* Pa'tocarlo */

.modulo.patocarlo::after {
    content: '';
    position: absolute;
    top: 92px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #dfdfdf;
    z-index: -1;
}

.modulo.patocarlo > .row {
    background: url(../img/logo_patocarlo.png) no-repeat left top / auto 76px scroll transparent;
    padding-top: 7rem;
}




/* Super ruleta */

.modulo.ventanita {
    padding: 4rem 0;
}

.contenedorruleta {
    margin: 2rem 0;
    padding: 13rem 0 3rem;
    float: left;
    width: 49%;
    background: url(../img/fondo_ruleta.jpg) no-repeat center top / auto 100% scroll transparent;
    border: 1px solid #fff;
    overflow: hidden;
    .container {
        position: relative;
        .roulette {
            position: relative;
            margin: 0 auto;
            width: 298px;
            height: 298px;
            background-image: url(../img/phieneasroulette.png);
            border-radius: 330px;
            background-size: 100% auto;
        }
        img {
            height: 364px;
            width:224px;
            position:absolute;
            right: 0;
            bottom: -3rem;
        }
        .silueta.hombre {
            background: transparent url(../img/figura_hombre.png) no-repeat scroll left top;
        }
        .silueta.mujer {
            background: transparent url(../img/figura_mujer.png) no-repeat scroll left top;
        }
        .flecha {
            position: absolute;
            top: 30px;
            left: 50%;
            margin-left: -25px;
            height: 50px;
            width: 50px;
            &:after {
                width: 0;
                height: 0;
                border-left: 25px solid transparent;
                border-right: 25px solid transparent;
                border-top: 35px solid rgba(0,0,0,.6);
                content: '';
            }
        }
        .spinner {
            cursor: pointer;
            color: $rojo2;
            font: 1.063rem 'nationalweb-regular', $predet-fonts;
            text-transform: uppercase;
            border: none;
            position: absolute;
            top: 42%;
            left: 50%;
            margin-left: -40px;
            text-decoration: none;
            width: 80px;
            height: 40px;
            background: #fff;
            &:before {
                content: '';
                position: absolute;
                top: -25px;
                left: 0;
                width: 0;
                height: 0;
                border-left: 40px solid transparent;
                border-right: 40px solid transparent;
                border-bottom: 25px solid #fff;
            }
            &:after {
                content: '';
                position: absolute;
                bottom: -25px;
                left: 0;
                width: 0;
                height: 0;
                border-left: 40px solid transparent;
                border-right: 40px solid transparent;
                border-top: 25px solid #fff;
            }
            &:focus {
                color: $rojo2!important;
            }
        }
    }
}

#roulette-dioses {
    float: right;
}

.wrapviewmodal {
    display:none;
    position: fixed;
    z-index: 12;
    left: 0px;
    top:0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .85);
}

body #viewModal {
    width: 1140px;
    background: transparent;
    left: 50%;
    margin: auto;
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transform:translate(-50%,-50%);
       -moz-transform:translate(-50%,-50%);
        -ms-transform:translate(-50%,-50%);
            transform:translate(-50%,-50%);
    @include box-sizing(border-box);
    //width: 50%;
    iframe {
        height: 650px;
        border: 1px solid #cdcdcd;
        background-color: #333;
    }
}

#closemodal {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
    cursor:pointer;
    border: none;
    @extend .textocult;
    background: 0 none;
    height: 20px;
    width: 30px;
    &:after {
        content: '';
        background: url(../img/x.svg) no-repeat center top / 20px auto scroll transparent;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.ficha.fotogaleria.iframe {
    position: absolute;
    top: 0;
    margin: 0;
    width: 100%;
    .row_gal {
        position: relative;
        .cabecera_flota {
            background-color:rgba(0, 0, 0,.8);
            color: #fff;
            position: absolute;
            left: 20px;
            top:20px;
            z-index: 10;
            img {
                background-color: $rojo;
                padding: 10px 20px;display: inline-block;
            }
            span {
                padding: 0 20px;
                width: -webkit-calc(100% - 350px);
                width:         calc(100% - 350px);
                // display: inline-block;
                // text-overflow: ellipsis;
                // overflow: hidden;
                // white-space: nowrap;
            }
        }
        #slider-fotogaleria {
            background-color:$grisoscuro;
            height: 650px;
            .owl-item {
                min-height: 1px;
                .foto {
                    text-align: center;
                    img {
                        max-height: 650px;
                        min-height: 650px;
                        width: auto;
                    }
                    .txt_num {
                        position: absolute;
                        bottom: 20px;
                        left: 0;
                        width: 100%;
                        padding: 0 20px;
                        margin: 0px;
                        .bl {
                            width: 100%;
                            padding: 1rem;
                            background-color: rgba(0, 0, 0, .7);
                            float: left;
                            p {
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}






/* Ventanita sentimental */

.logoventanita2 {
    display: none;
}

.portada ul.cajas,
ul.cajas {
    li {
        display: inline-block;
        vertical-align: top;
        width: 47%;
        margin-bottom: 20px;
        border: 1px solid #dfdfdf;
        padding: 1rem;
        @extend .gradient-clar;
        h3 {
            font-size: 1.5rem;
            padding-top: 0;
        }
        p {
            color: $grismedio;
        }
        > a {
            color: $rojo;
            text-transform: uppercase;
            display: block;
            padding-top: .5rem;
        }
    }
    li:nth-child(odd) {
        margin-right: 2%;
    }
}




/* l4 al día */

.modulo.laldia {
    background-color: #f9f7f6; 
}

.modulo.laldia::after {
    content: '';
    position: absolute;
    top: 92px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #dfdfdf;
}

.modulo.laldia > .row {
    background: url(../img/logo_l4aldia.png) no-repeat left top/auto 52px scroll transparent;
    padding-top: 7rem;
}

.modulo.laldia {
    .respons {
        position: absolute;
        margin-top: -80px;
        right: 0;
        &:after {
            content: '';
            display: block;
            width: 96%;
            height: 3px;
            background-color: $rojo;
            position: absolute;
            left: 2%;
            right: 2%;
            bottom: 2px;
        }
        .arrow {
            position: absolute;
            right: 14px;
            top: 15px;
            z-index: 1;
            display: block;
            height: 10px;
            width: 10px;
            background: url(../img/arrow-down2.svg) no-repeat center center / 10px auto scroll transparent;
        }
        #select-categoria {
            -webkit-appearance: none;
               -moz-appearance: none;
                    appearance: none;
            height: 40px;
            border: 1px solid #dfdfdf;
            width: 140px;
            text-transform: uppercase;
            font-family: 'Roboto', $predet-fonts;
            padding: 0 5px;
            cursor: pointer;
        }
    }
}

.modulo.laldia .respons.diosagram::after {background-color: $cat-diosagram;}
.modulo.laldia .respons.espectacular::after {background-color: $cat-espectacular;}
.modulo.laldia .respons.mascotas::after {background-color: $cat-mascotas;}
.modulo.laldia .respons.cronica::after {background-color: $cat-cronica;}
.modulo.laldia .respons.deportiva::after {background-color: $cat-deportiva;}
.modulo.laldia .respons.mundo::after {background-color: $cat-mundo;}



/* Los más */

.losmas {
    padding: 1.5rem 2rem 2rem;
    background-color: #fff;
    p {
        font: 1.5rem 'nationalweb-semibold', $predet-fonts;
        color: #686868;
        margin-bottom: 1rem;
        span {
            color: #ff6876;
        }
    }
}

.losmas, .sidebar {
    > ul {
        li {
        display: inline-block;
        vertical-align: top;
            a {
                text-transform: uppercase;
                color: #000;
                display: inline-block;
                font-weight: 700;
                margin-bottom: 1.5rem;
                margin-right: .5rem;
                font: .875rem 'nationalweb-regular', $predet-fonts;
            }
        }
        li.activo {
            a {
                font-family: 'nationalweb-semibold', $predet-fonts;
                &:after {
                    content: '';
                    height: 2px;
                    width: 100%;
                    display: block;
                    margin-top: .1rem;
                    background-color: $rojo;
                }
            }
        }
    }
}



/* Widgets */

.modulo.widgets {
    padding: 3rem 0;
    .participa {
        width: 46%;
        margin: 0 2%;
        padding: 2rem;
        border: 1px solid #fff;
        position: relative;
        -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.1);
                box-shadow: 0 0 0 1px rgba(0,0,0,.1);
        background: #ffffff;
        background: -webkit-linear-gradient(top, #ffffff 0%,#f3f0e4 100%);
        background:    -moz-linear-gradient(top, #ffffff 0%, #f3f0e4 100%);
        background:         linear-gradient(to bottom, #ffffff 0%,#f3f0e4 100%);
        .titwidget {
            color: $grisoscuro;
            text-transform: uppercase;
            font: 1.5rem 'nationalweb-semibold', $predet-fonts;
            position: relative;
            margin-bottom: 2rem;
            padding: 0;
            &:before {
                content: '';
                display: block;
                width: 8px;
                height: 32px;
                background-color: $rojo;
                position: absolute;
                left: -32px;
                top: -4px;
            }
            span {
                color: $rojo;
            }
        }
        .titwidget + ul {
            padding-bottom: 30px;
        }
    }
    .horoscopo {
        @extend .participa;
        display: block;
        background: #595349;
        background: -webkit-linear-gradient(top, #595349 0%,#0c0a09 100%);
        background:    -moz-linear-gradient(top, #595349 0%, #0c0a09 100%);
        background:         linear-gradient(to bottom, #595349 0%,#0c0a09 100%);
        padding: 0;
        .titwidget {
            @extend .titwidget;
            color: #fff;
            padding: 2rem;
            margin-bottom: 0;
            &:before {
                top: 29px;
                left: 1px;
            }
            + img {
                position: absolute;
                right: 1.5rem;
                top: 1.5rem;
                max-width: 120px;
            }
        }
        .datos {
            padding: 0 2rem 2rem;
            .nombre {
                color: #efc200;
                font: italic 2rem 'nationalweb-regular', $predet-fonts;
            }
            .fecha {
                color: #ccc7b4;
                font: 1rem 'nationalweb-semibold', $predet-fonts;
            }
            .explica {
                color: #fff;
                margin-top: 2rem;
            }
            .autor {
                margin-top: 2rem;
                .img {
                    @include border-radius (50%);
                    width: 70px;
                    height: 70px;
                    border: 4px solid #524d44;
                    float: left;
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: auto;
                        min-width: 120px;
                    }
                }
                div {
                    float: right;
                    width: -webkit-calc(100% - 100px);
                    width:         calc(100% - 100px);
                    p {
                        font: 1rem 'nationalweb-semibold', $predet-fonts;
                        color: #fff;
                        margin-bottom: .5rem;
                    }
                    span.twitter {
                        font: .875rem 'nationalweb-regular', $predet-fonts;
                        display: block;
                        padding: 5px 0 5px 25px;
                        position: relative;
                        &:before {
                            position:absolute;
                            color: #fff;
                            font-family: "untitled-font-1";
                            left: 0;
                            top: 2px;
                            content: 'l';
                            font-size: 1.2rem;
                        }
                        a {
                            color: #efc200;
                        }
                    }
                    span.telef {
                        font: .875rem 'nationalweb-regular', $predet-fonts;
                        display: block;
                        padding: 5px 0 5px 25px;
                        position: relative;
                        color: #efc200;
                        &:before {
                            content: '';
                            display: block;
                            width: 15px;
                            height: 15px;
                            position: absolute;
                            left: 0;
                            background: url(../img/telephone.svg) no-repeat center center / 15px scroll transparent;
                        }
                    }
                }
            }
        }
    }
}

#slider-horoscopo .owl-controls .owl-buttons div {
    display: none;
}

#slider-horoscopo:hover .owl-controls .owl-buttons div {
    display: block;
}

.modulo.widgets .titwidget + ul li {
    display: inline-block;
    vertical-align: top;
    a {
        text-transform: uppercase;
        color: #000;
        display: inline-block;
        font-weight: 700;
        margin-bottom: 10px;
        margin-right: .5rem;
    }
    a.activo {
        &:after {
            content: '';
            height: 2px;
            width: 100%;
            display: block;
            margin-top: .1rem;
            background-color: $rojo;
        }
    }
}



/* Encuesta */
.wp-polls {
    p {
        font: 1.25rem 'nationalweb-regular', $predet-fonts;
        color: $grisoscuro;
        strong {
            font-size: 1.5rem;
            display: block;
            padding-bottom: 10px;
        }
        a {
           font-size: 1.2rem;
           color: $grisoscuro;
           padding-top: 1.5rem;
           text-decoration: underline;
        }
    }
    .wp-polls-ans {
        margin: 1rem 0;
    }
    .Buttons {
        border: 0;
        margin-bottom: 1.5rem;
        display: inline-block;
        padding: 8px 40px;
        font-size: 1.25rem;
        color: #fff;
        background-color:$rojo;
        @include border-radius (2px);
    }
    .pollbar {
        margin: 5px 0 10px;
    }
}

.wp-polls ul,
.wp-polls-ul,
.wp-polls-ans ul {
    margin-left:0;
    li {
        padding-bottom: 10px;
    }
}

.wp-polls IMG,
.wp-polls LABEL,
.wp-polls INPUT,
.wp-polls-loading IMG,
.wp-polls-image IMG {
    margin: 3px;
}




/* Galerías */

.modulo_galerias::after {
    content: '';
    position: absolute;
    top: 98px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #dfdfdf;
}

.modulo_galerias > .row {
    padding: 1rem 0 4rem;
}

.modulo_galerias > .row a.vermas {
    padding-top: 0;
}

.modulo_galerias > .row > span {
    font: 1.5rem 'nationalweb-semibold', $predet-fonts;
    color: $grisoscuro;
    float: left;
    position: relative;
}

.modulo_galerias > .row > span::after {
    content: '$';
    font-family: "untitled-font-1";
    font-size: 2.5rem;
    color: $rojo;
    position: absolute;
    right: -55px;
    top: -10px;
}

.modulo_galerias #galeria-actual {
    float: left;
    width: 80%;
    margin: 0;
    position: relative;
}

.modulo_galerias #galeria-actual + ul {
    float: right;
    width: 18%;
}

.modulo_galerias #galeria-actual + ul li.seleccionada img {
    opacity: .4;
}

.modulo_galerias #galeria-actual + ul li.seleccionada {
    position: relative;
}

.modulo_galerias #galeria-actual + ul li.seleccionada::after {
    position: absolute;
    left: 8%;
    right: 8%;
    top: 25%;
    content: 'Estas viendo...';
    text-transform: uppercase;
    font-size: .875rem;
    text-align: center;
    color: #fff;
    display: block;
    padding: .5rem;
    width: 84%;
    border: 1px solid #fff;
    background-color: $rojo;
    @include border-radius (3px);
}

.modulo_galerias #galeria-actual + ul li div {
    overflow: hidden;
    height: 120px;
    img {
        min-height: 120px;
    }
}

.modulo_galerias #galeria-actual .foto {
    text-align: center;
    background-color: $grisoscuro;
    overflow: hidden;
}

#galeria-actual .owl-item {
    width: 100%;
    min-height: 1px;
    .foto {
        width: 100%;
    }
}

.modulo_galerias #galeria-actual img {
    /* width: 100%; */
    width: auto;
    max-height: 800px;
}

.modulo_galerias #galeria-actual + ul li p {
    font-family: 'nationalweb-semibold', $predet-fonts;
    color: $grisoscuro;
    font-size: 1.063rem;
    padding: .7rem 0 1.5rem;
}

.modulo_galerias #galeria-actual .foto a + .row {
    padding: 1rem 0;
    background-color: rgba(0,0,0,.5);
    width: 96%;
    margin: 0;
    position: absolute;
    bottom: 20px;
    left: 2%;
    right: 2%;
    color: #fff;
    @include border-radius (3px);
}

.modulo_galerias #galeria-actual .foto a + .row p {
    border-right: 1px solid rgba(255, 255, 255, .4);
}

.modulo_galerias #galeria-actual #slider-fotogaleria .foto .txt_num {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    padding: 0 20px;
    margin: 0px;
    .bl {
        width: 100%;
        padding: 1rem;
        background-color: rgba(0, 0, 0, .3);
        float: left;
        @include border-radius (3px);
        p, .numero {
            color: #fff;
        }
    }
}


.slider-miniaturas {
    position: absolute;
    bottom: 73px;
    overflow: hidden;
    width: 96%;
    left: 2%;
    right: 2%;
    padding: 15px 0;
    background: rgba(0,0,0,.8);
    height: 100px;
    .owl-item {
        height: 70px;
        width: auto;
        margin: 1px 3px;
        min-height: inherit!important;
        img {
            cursor: pointer;
            opacity: .6;
        }
    }
    .owl-item.synced img {
        opacity: 1;
    }
}

.slider-miniaturas .owl-controls .owl-page {
    display: block;
    width: 40px;
    height: 15px;
    position: absolute;
    top: 43px;
    left: 0;
    span {
        width: 40px;
        height: 15px;
        background: url(../img/nav2.png) left center scroll transparent;
        display: block;
    }
}

.slider-miniaturas .owl-controls .owl-page + .owl-page {
    left: inherit;
    right: 0;
    span {
        background: url(../img/nav2.png) right center scroll transparent;
    }
} 

#galeria-actual,
.ficha.fotogaleria.iframe .row_gal {
    a.miniaturas {
        padding: 1rem 3rem;
        color: #fff;
        background: url(../img/arrow-up.svg) no-repeat 135px 20px / 10px auto scroll rgba(0,0,0,.6);
        position: absolute;
        bottom: 20px;
        right: 2%;
        &:after {
            content: '';
            background: url(../img/menu.svg) no-repeat center center / 20px auto scroll transparent;
            width: 20px;
            height: 20px;
            position: absolute;
            left: 14px;
            top: 15px;
            display: block;
        }
    }
}

a.miniaturas.abierto {
    background: url(../img/arrow-down.svg) no-repeat 135px 20px / 10px auto scroll rgba(0,0,0,.6);
}

.single-galeria .ficha.fotogaleria .bot.miniaturas {
    display: none;
}

.slider-miniaturas.oculta {
    display: none!important;
}

.slider-miniaturas .owl-controls .owl-buttons div {
    top: 25%;
}

.slider-miniaturas .owl-controls .owl-buttons div.owl-prev {
    background-color: transparent;
    left: 0;
}

.slider-miniaturas .owl-controls .owl-buttons div.owl-next {
    background-color: transparent;
    right: 0;
}






/* el Humor */

.elhumor .pestanas {
    float: right;
}




/* Reporteros PoP */

.modulo.reporterospop::after {
    content: '';
    position: absolute;
    top: 98px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #dfdfdf;
}

.modulo.reporterospop > .row.ampliado {
    padding: 1rem 0 3rem;
    margin-bottom: 0;
}

.modulo.reporterospop > .row > p {
    font: 1.5rem 'nationalweb-semibold', $predet-fonts;
    display: inline-block;
    position: relative;
    span {
        color: #36CDED;
    }
}

.modulo.reporterospop > .row > p::after {
    content: '';
    position: absolute;
    background: url(../img/logo_reporterospop.png) no-repeat left top scroll transparent;
    width: 98px;
    height: 83px;
    right: -100px;
    top: -7px;
    z-index: 1;
}

.modulo.reporterospop .slick-slide div div {
    padding: 0 10px;
}




/* Newsletter */

.modulo.newsletter {
    text-align: center;
    background-color: $rojo;
    h3 {
        color: #fff;
        text-transform: uppercase;
    }
    p {
        color: #91000d;
        max-width: 70%;
        margin: 0 auto;
        font: 1rem 'nationalweb-regular', $predet-fonts;
    }
    form {
        padding: 2rem 0;
        max-width: 70%;
        margin: 0 auto;
        span {
            color: #fff;
            font: .75rem 'Roboto', $predet-fonts;
            display: block;
            text-align: left;
            padding: .3rem;
        }
        input {
            height: 60px;
            display: inline-block;
            vertical-align: top;
            margin: 0 .1rem;
            padding: 1rem;
            position: relative;
            &[type="email"] {
                width: 72%;
                border: 3px solid #c20013;
            }
            &[type="submit"] {
                width: 25%;
                background-color: #3f0b09;
                border: 3px solid #3f0b09;
                font: .813rem 'Roboto', $predet-fonts;
                color: #fff;
                text-transform: uppercase;
                &:hover {
                    cursor: pointer;
                    border-color: #fff;
                    background-color: transparent;
                }
            }
        }
    }
}





