

@media screen and (max-width: 1550px) and (min-width: 1280px) {

  .bl_sky_completo > .sky {
    width: 1280px;
    margin: 30px auto 0;
  }

  #teinteresa {
    width: 100%;
  }

  #content {
    width: 100%;
    margin: 0 auto;
  }

  .publi_sky, .home .publi_sky {
    left: 0!important;
    top: 0px !important;
  }

  .portada .apertura,
  .modulo {
    width: 940px;
    margin: 0 auto;
  }

  .modulo.fondo-oscuro-logo,
  .modulo.butaca,
  .modulo.mascotas,
  .modulo.elhumor,
  .modulo.superruleta,
  .modulo.lapicada,
  .modulo.laldia,
  .modulo.matrix {
    width: inherit;
  }

  .modulo.fondo-oscuro-logo > .row,
  .modulo.butaca > .row,
  .modulo.mascotas > .row,
  .modulo.elhumor > .row,
  .modulo.superruleta > .row,
  .modulo.lapicada > .row,
  .modulo.laldia > .row,
  .modulo.matrix > .row,
  .portada_seccion > .cap,
  .ficha > *,
  #teinteresa .row.ampliado,
  #content .row.ampliado,
  #content .row,
  .content.row {
    max-width: 940px;
  }

  .portada .apertura h1 {
    font-size: 4rem;
  }

  .portada h3 {
    font-size: 1.8rem;
  }

  .lacuartatv #slider-lacuartatv .item.seleccionada div:after {
    font-size: .725rem;
  }

  .modulo.calentitos div.bl .not_cat {
    top: 8.5rem;
  }

  .bl_publi.lo_mas {
    margin-left: 167px;
    width: 292px;
  }

  .play,
  .portada .apertura span.video,
  #slider-lacuartatv span.video,
  .lacuartatv #video-actual .img .video {
    width: 50px;
    height: 50px;
  }

  .portada .apertura span.video {
    top: 2rem;
  }

  #slider-lacuartatv .item .img {
    max-height: 90px;
  }

  #slider-lacuartatv .item h3 {
    font-size: 1rem;
    margin: 10px 0 30px;
  }

  ul.pestanas li a {
    width: 7.25rem;
  }

  .modulo_galerias #galeria-actual + ul li p {
    font-size: 1rem;
    padding: .5rem 0 1.5rem;
  }

  ul.fototexto-verti li div .not_cat {
    top: 8.5rem;
  }


}


@media screen and (max-width: 1350px){

  .modulo.matrix, .modulo.lapicada {
    background-size: 1350px auto;
  }

}


@media screen and (min-width: 1200px){

  .row.ampliado {
    padding-left: 1%;
    padding-right: 1%;
  }

  .single-publirreportajes #content .imgfondo {
    background-size: 100% auto;
  }

}


@media screen and (max-width: 1200px){

  .row, .row.ampliado {
    width: 100%;
  }

  .modulo,
  .portada .apertura,
  article.ficha,
  #teinteresa > .row,
  .portada_seccion > .row,
  .mas_fotogalerias > .row,
  .lacuartatv > .row,
  .page article,
  .post-type-archive-galeria section > .row {
    width: -webkit-calc(100% - 2.5rem);
    width:         calc(100% - 2.5rem);
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }

  .modulo.publicidad,
  .modulo.butaca,
  .modulo.superruleta,
  .modulo.laldia,
  .modulo.elhumor,
  .modulo.lapicada,
  .modulo.matrix,
  .modulo.mascotas,
  .modulo.newsletter,
  .modulo.fondo-oscuro-logo,
  section.error-404,
  .error404 .gris > .row {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  #slider-lacuartatv .item .img {
      max-height: 120px;
  }

  .single-publirreportajes {
    #content {
      article.ficha.publirreportajes {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        .imgfondo {
          img {
            // height: 750px;
            // margin-left: -400px;
          }
        }
        .bl_txt {
          padding-left: 3rem;
          padding-right: 3rem;
        }
      }
    }
  }

  .single-especial .portada.especial .cab_especial {
    padding: 20px 0 0;
  }

  .modulo.calentitos div.bl .not_cat {
    top: 9rem;
  }

  ul.fototexto-verti li div .not_cat {
    top: 9rem;
  }

  ul.pestanas li a {
    width: 6.725rem;
  }

  .slick-prev {
    margin-left: 0;
    left: 1%;
  }

  .slick-next {
    margin-right: 0;
    right: 1%;
  }

  .lacuartatv #slider-lacuartatv .owl-controls .owl-prev {
    left: 0;
  }

  .lacuartatv #slider-lacuartatv .owl-controls .owl-next {
    right: 0;
  }

  body #viewModal {
    width: 90%;
  }

  .bl_publi.lo_mas {
    right: 10px;
    left: inherit;
    margin-left: inherit;
    width: 31.5%;
    > div {
      width: 100%!important;
      height: auto!important;
    }
  }

  .single-publirreportajes #content .imgfondo {
    background-size: auto 100%;
  }

  footer {
    > .row {
      padding: 3rem 0;
      .column.three {
        text-align: center;
        img {
          width: 150px;
        }
      }
    }
    .copesa .logo_copesa {
      text-align: center;
      img {
        width: 75px;
      }
    }
  }

}


@media screen and (max-width: 1100px){

  .portada .apertura.imagen-izquierda div.bl_txt .txt h1 {
    font-size: 2rem;
  }

}


@media screen and (max-width: 1000px){

  /* Portada */
  .modulo.calentitos div.bl .not_cat {
    top: 7.5rem;
  }

  ul.fototexto-verti li div .not_cat {
    top: 8rem;
  }

  .modulo.calentitos div.bl .not_cat::after,
  ul.fototexto-verti li div .not_cat::after {
    height: 3px;
    top: 2.1rem;
    width: 30px;
  }

  .portada .apertura .bl_txt {
    left: 2rem;
    bottom: 1.25rem;
  }

  .portada .apertura.imagen-izquierda div.bl_txt {
    padding: 2rem;
  }

  .portada .apertura h1 {
    font-size: 3rem;
  }

  .portada .doble.row .apertura_destacado h1,
  .portada .apertura.imagen-izquierda div.bl_txt h1 {
    font-size: 2rem;
  }

  .portada .apertura.streaming .column.eight .txt div h1 {
    font-size: 2.5rem;
  }

  .portada h3 {
    font-size: 1.5rem;
  }

  .portada .text .entradilla {
    font-size: 1rem;
  }

  .portada .apertura.imagen-izquierda div.bl_txt .entradilla {
    display: none;
  }

  ul.fototexto-verti, .modulo.calentitos {
    li div, div.bl {
      h4, h3 {
        font-size: 1.5rem;
      }
    }
  }

  .not_cat a {
    font-size: .688rem;
  }

  .modulo.publicidad {
    padding: 1rem 0;
  }

  .bl_publi {
    padding: 1rem;
  }

  .bl_publi.lateral, .html.lateral {
    margin-bottom: 2rem;
  }

  .bl_publi.lo_mas {
    width: 31%;
    top: 91px;
  }

  .titulo.calentitos {
    margin-top: 0;
    font-size: 1.25rem;
    padding: .75rem 1rem .875rem;
  }

  .losmas {
    padding: 1rem;
    p {
      font-size: 1.25rem;
    }
  }

  ul.fototextosimple li {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }

  .diario_version_digital header h3 {
    font-size: 1.25rem;
  }

  .modulo.fondo-oscuro-logo .titulo img {
    height: 50px;
  }

  .modulo_la_cuarta_tv header span {
    background-size: 175px auto;
    height: 50px;
  }

  .modulo a.vermas {
    padding-top: .75rem;
  }

  /* portada max-width: 1000px */

  .modulo.butaca {
    &:after {
      top: 72px;
      height: 3px;
    }
    > .row {
      background-size: auto 52px;
      padding-top: 5rem;
    }
  }

  .modulo.patocarlo {
    &:after {
      top: 72px;
    }
    > .row {
      background-size: auto 56px;
      padding-top: 5rem;
    }
  }

  .modulo.lapicada {
    &:after {
      top: 90px;
    }
    > .row {
      background-size: auto 55px;
      padding-top: 6rem;
    }
  }

  .modulo.laldia {
    &:after {
      top: 70px;
    }
    > .row {
      padding-top: 5rem;
    }
  }

  .modulo.matrix {
    &:after {
      top: 70px;
    }
    > .row {
      padding-top: 6rem;
      background-size: auto 70px;
    }
  }

  .modulo.mascotas {
    &:after {
      top: 88px;
    }
    > .row {
      padding-top: 6rem;
      background-size: auto 50px;
    }
  }

  /* portada max-width: 1000px */

  .modulo_galerias {
    > .row {
      padding-top: .5rem;
      > span {
        font-size: 1.25rem;
        &:after {
          font-size: 2rem;
          right: -45px;
          top: -7px;
        }
      }
    }
    &:after {
      top: 78px;
    }
  }

  .modulo.elhumor {
    &:after {
      top: 77px;
    }
    > .row {
      background-size: auto 40px;
    }
  }

  .modulo.reporterospop {
    &:after {
      top: 78px;
    }
    > .row p {
      font-size: 1.25rem;
      &:after {
        background-size: 70px auto;
      }
    }
  }

  .modulo.newsletter .row > * {
    max-width: 90%;
  }

  #slider-papeldigital {
    &:after {
      top: 78px;
    }
    div > p {
      font-size: 1.25rem;
      padding: 0 40px;
    }
  }

  .modulo_galerias #galeria-actual + ul li p {
    font: 1rem/1.1 'nationalweb-regular', $predet-fonts;
    padding: .5rem 0 1rem;
  }

  .portada .apertura .video_relacionado,
  .portada .apertura.imagen-izquierda {
    .video_relacionado {
      padding-top: 1rem;
      margin-top: 1rem;
      .rel_txt h3 {
        font: 1rem/1.1 'nationalweb-regular', $predet-fonts;
        padding-top: 0;
      }
    }
  }

  .portada .apertura.imagen-izquierda .video_relacionado img {
    display: none!important;
  }

  #slider-lacuartatv .item .img {
      max-height: 90px;
  }

  .home .portada ul.redes, .bloque_tags article.four ul.redes {
    li {
      width: 83px;
      a {
        padding: .25rem .5rem;
        font-size: .75rem;
      }
      &:after {
        font-size: .875rem;
        top: .25rem;
        left: .25rem;
      }
    }
  }



  .single-publirreportajes #content .imgfondo {
    height: 600px;
  }

  .ficha .categoria {
    font-size: .875rem;
  }

  .ficha .cabecera_ficha h1, .ficha.fotogaleria h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }

  .portada_seccion > .row h1.portadilla {
    font-size: 2rem;
  }

  .lacuartatv .titseccion {
    background-size: auto 40px;
    height: 40px;
  }

  .single-publirreportajes #content {
    .img_fondo {
      height: 550px;
    }
    .contenido {
      .cabecera_publi {
        height: 490px;
        .bl_txt {
          h1 {
            font-size: 4rem;
          }
        }
      }  
    }
  }

}


@media screen and (max-width: 900px){

  /*header*/
  header.header_home .header {
    padding: 1.5rem 0;
    height: inherit;
  }
  
  header.header_home .header .logo a img {
    height: 40px;
  }

  body.fixed header.header_home .header .logo a img {
    height: 30px;
  }

  header .redes {
    top: 1.5rem;
  }

  header.header_home .header .redes li {
    font-size: 2rem;
    width: 35px;
  }

  header.header_home .subheader .menu-superior-horizontal-container {
    padding: 1rem 2rem 1rem 0;
    ul li a {
      font-size: .75rem;
      padding: 0 .75rem 0 0;
    }
  }

  header.header_home .subheader .bot_buscar {
    margin: 1rem 10px 1rem 10px;
  }

  .modulo.calentitos div.bl .not_cat {
    top: 6.5rem;
  }

  .contenedorruleta,
  .contenedorruleta + .contenedorruleta,
  .modulo.widgets .column.six,
  .error-404 .column.six {
    width: 100%;
    max-width: 550px;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  #roulette-dioses {
    float: none;
  }

  .error404 .gris > p {
    font-size: 1rem;
  }

  .modulo.widgets .column.six {
    margin-bottom: 2rem;
  }

  ul.fototexto-verti li div .not_cat {
    top: 7rem;
  }

  ul.pestanas li a {
    font-size: .75rem;
    width: 5.5rem;
  }

  ul.fototextosimple li {
    margin-bottom: .75rem;
    padding-bottom: .75rem;
    .img {
      margin-right: 10px;
    }
    h4 {
      font-size: .875rem;
      width: -webkit-calc(100% - 105px);
      width:         calc(100% - 105px);
    }
  }

  .modulo_galerias #galeria-actual + ul li.seleccionada::after,
  .lacuartatv #slider-lacuartatv .item.seleccionada div::after {
    font-size: .75rem;
  }

  .portada .apertura.streaming .column.eight {
    .txt div {
      margin: 0 5% 2rem;
      h1 {
        font-size: 2.5rem;
      }
    }
    .txt .video {
      width: 65px;
      height: 65px;
      left: auto;
      right: 2rem;
      top: 2rem;
    }
  }

  #teinteresa {
    display: none;
  }

  .losmas > ul li a {
    font-size: .75rem;
  }

}


@media screen and (max-width: 800px) {

  .portada .apertura h1 {
    font-size: 3rem;
  }

  .modulo.fondo-oscuro-logo .text, .modulo.butaca .text, .modulo.lapicada .text, .modulo.matrix .text, .modulo.mascotas .text {
    min-height: 120px;
  }

  .portada .apertura .bl_txt, .portada .apertura span.video {
    bottom: 2rem;
    left: 2rem;
  }

  .portada .apertura.videorel .bl_txt {
    width: -webkit-calc(100% - 4rem);
    width:         calc(100% - 4rem);
    .txt {
      padding-bottom: 0;
    }
  }

  .portada .apertura.imagen-izquierda .video_relacionado img {
    display: block!important;
  }

  .modulo.calentitos div.bl .not_cat {
    top: 5rem;
  }

  #slider-lacuartatv .item .img {
    max-height: 120px;
  }

  .laldia .column {
    float: none;
    width: 100%;
    padding: 0;
    ul.fototextosimple li {
      display: inline-block;
      width: 49%;
      vertical-align: top;
      border-bottom: 0 none;
    }
  }

  ul.fototexto-verti li div .not_cat {
    top: 5rem;
  }

  ul.redes li {
    &:after {
      top: .5rem;
      left: .5rem;
      font-size: 1rem;
    }
    a {
      padding: .5rem;
      font-size: .875rem;
    }
  }

  .ficha ul.redes li a {
    min-height: 33px;
  }

  ul.destacados li a h3 {
    bottom: .5rem;
    left: .5rem;
    right: .5rem;
    font: .875rem/1 "nationalweb-semibold", Arial, Sans-serif;
  }

  .lacuartatv #video-actual .txt h3 {
    margin: 0;
    line-height: .9;
    font-size: 2.5rem;
  }

  .modulo_galerias #galeria-actual + ul li div {
    height: 100px;
    img {
      min-height: 100px;
    }
  }

  .portada .apertura.imagen-izquierda div.bl_txt {
    padding: 1.25rem;
  }

  .portada .apertura.videorel {
    background-color: #1f1f1f;
    .bl_fondo {
      max-height: inherit;
      a {
        .fondo_deg {
          display: none;
        }
        img {
          width: 100%;
        }
      }
      div.bl_txt {
        width: 100%;
        position: static;
        padding: 1.25rem;
        .video_relacionado {
          padding-bottom: 1.25rem;
          > a > img {
            width: 85px;
          }
        }
      }
    }
  }

  .portada .apertura.streaming .column.eight,
  .portada .apertura.streaming .column.four {
    width: 100%;
    float: none;
    height: inherit;
  }

  .portada .apertura .not_vid,
  .portada .apertura.streaming .column.eight .video .not_vid {
    position: relative;
  }

  .portada .txt .entradilla {
    font-size: .875rem;
  }

  .ficha.fotogaleria.iframe .row_gal .cabecera_flota img {
    width: 160px;
  }

  .ficha.fotogaleria.iframe .row_gal .cabecera_flota span {
    display: none;
  }

  .single-publirreportajes #content .imgfondo {
    height: 500px;
  }

  ul.pestanas {
    text-align: center;
  }

  iframe.vrudo {
    height: 550px;
  }

  .html.lateral iframe.vrudo {
    height: inherit;
  }

  .single-publirreportajes #content {
    .img_fondo {
      height: 450px;
    }
    .contenido {
      .cabecera_publi {
        height: 390px;
        .bl_txt {
          h1 {
            font-size: 3rem;
          }
        }
      }  
    }
  }

  .single-especial .portada.especial .cab_especial ul li a {
    font-size: .875rem;
  }

  .sidebar > ul li a {
    font-size: .75rem;
  }

  footer {
    > .row {
      padding: 2rem 0;
      ul li a {
        font-size: .75rem;
      }
    }
    .copesa {
      padding: 2rem 0;
      .logos_pie {
        text-align: left;
        padding: 0 4rem;
        img {
          margin-bottom: .5rem;
        }
      }
    }
  }

  .losmas > ul li a {
    font-size: .875rem;
  }

  #wrapper header.header_home  .publi_boton {
    display: none;
  }

  .sky {
    display: none;
  }

}




@media screen and (max-width: 760px){

  .bl_publi_top {
    display: block;
  }

}




@media screen and (max-width: 700px){

  body.home {
    padding-top: 60px;
  }

  .nav_top, .nav_user {
    display: none;
  }

  /* menú */
  header.header_home {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 12;
    .header {
      height: 70px;
      padding: 1.3rem 2rem;
      .logotipo {
        .logo {
          float: left;
          position: relative;
          z-index: 1;
          img {
            height: 30px;
            width: auto;
          }
        }
      }
      .redes {
        top: 1rem;
      }
    }
    .subheader {
      position: relative;
      top: -70px;
      left: 217px;
      z-index: 12;
      background: transparent;
      width: auto;
      border-top: 0 none;
      .bot_nav {
        cursor: pointer;
        float: left;
        font: 400 1rem/1.15 'nationalweb-regular', $predet-fonts;
        margin: 21px 0 0 0;
        padding: 5px 13px 7px 45px;
        position: relative;
        background-color: $rojo2;
        color: #fff;
        height: 30px;
        display: block;
        @include border-radius (3px);
        &:before  {
            font-family: "flaticon";
            padding-left: 1.125rem;
            content: "\e003";
            color: #fff;
            font-size: 1.125rem;
            position: absolute;
            top: 5px;
            left: -9px;
        }
      }
      .nav_v {
        display: none;
        z-index: 100;
        position: absolute;
        left: -217px;
        top: 65px;
        width: 310px;
        height: 100vh;
        padding: 10px 0px;
        background-color: #fff;
        -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: -8px;
            right: 5%;
            width: 0;
            height: 0;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 20px solid #fff;
        }
        > div {
          padding: 1.5rem 1.5rem 3rem;
          display: block;
          ul li {
            padding: 0 0 1rem;
            text-align: left;
            display: block;
            a {
              color: #000;
              font: 400 .875rem 'Roboto', $predet-fonts;
              position: relative;
              text-transform: uppercase;
              display: block;
              padding: 0;
              &:hover:after {
                  content: '';
                  top: 1rem;
                  left: 0;
                  position: absolute;
                  border-bottom: 2px solid #000;
                  height: 10px;
                  width: 40px;
              }
            }
          }
        }
        .redes {
          display: block;
        }
      }
      .bot_buscar {
        background: $rojo2;
        cursor: pointer;
        display: block;
        height: 30px;
        width: 36px;
        margin: 21px;
        padding: 5px 9px;
        position: absolute;
        left: 75px;
        text-align: left;
        @include border-radius (3px);
        &:after {
          font-family: "untitled-font-1";
          content: "z";
          color: #fff;
          font-size: 15px;
          position: absolute;
        }
      }
    }
  }

  .header_home .subheader .nav_v.muestra {
    display: block;
  }

  .home .header_espacio {
    height: 70px;
  }

  /*.portada*/section.modulo {
    width: 100%;
    margin: 0;
    .row .column.four {
      float: none;
      margin: 0 auto;
      width: 100%;
      padding: 0;
      article, .html.lateral {
        margin-bottom: 1rem;
        margin-left: auto;
        margin-right: auto;
        max-width: 500px;
        .bl > * {
          display: inline-block;
          vertical-align: top;
          width: 48%;
        }
        .bl .text {
          margin-left: 2%;
        }
      }
    }
  }

  .bloque_tags article.four {
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    width: inherit!important;
    float: none!important;
    .bl > * {
      display: inline-block;
      vertical-align: top;
      width: 48%;
    }
    .bl .text {
      margin-left: 2%;
    }
  }

  section.modulo_galerias,
  section.diario_version_digital,
  section.modulo_la_cuarta_tv,
  section.calentitos > .row,
  ul.fototextosimple,
  section.patocarlo > .row,
  section.ventanita,
  section.reporterospop,
  .portada .apertura,
  article.ficha,
  #teinteresa > .row,
  .portada_seccion > .row,
  .mas_fotogalerias > .row,
  .lacuartatv > .row {
    width: -webkit-calc(100% - 2.5rem);
    width:         calc(100% - 2.5rem);
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }

  ul.fototexto-verti li div h4,
  ul.fototexto-verti li div h3,
  ul.fototexto-verti div.bl h4,
  ul.fototexto-verti div.bl h3,
  .modulo.calentitos li div h4,
  .modulo.calentitos li div h3,
  .modulo.calentitos div.bl h4,
  .modulo.calentitos div.bl h3 {
    font-size: 1.5rem;
    padding-top: 0;
  }

  .post-type-archive-galeria h3 {
    font-size: 1.25rem;
  }

  .modulo.fondo-oscuro-logo .text,
  .modulo.butaca .text,
  .modulo.lapicada .text,
  .modulo.matrix .text,
  .modulo.mascotas .text {
    min-height: inherit;
    padding-bottom: 1rem;
  }

  .modulo.calentitos div.bl .not_cat,
  ul.fototexto-verti li div .not_cat {
    position: relative;
    display: block;
    left: 0;
    top: 0;
    &:after {
      top: 1px;
      left: 0;
      position: absolute;
      height: 3px;
      width: 100%;
    }
    a {
      color: #707070;
      margin: 1rem 0 .5rem;
      padding: 0;
    }
  }

  .modulo.lapicada,
  .modulo.matrix {
    background-size: auto 100%;
  }

  .bl_publi.lateral, .html.lateral {
    margin-bottom: 1rem;
    text-align: center;
    width: 100%;
  }

  .bl_publi.lo_mas {
    position: static;
    width: 100%;
  }

  section.ventanita {
    .column.four {
      .logoventanita1 {
        display: none;
      }
      .logoventanita2 {
        display: block;
        margin: 0 auto 2rem;
      }
    }
    .column.eight {
      width: 100%;
    }
  }

  .portada .apertura h1 {
    margin-top: 1rem;
    font-size: 2.5rem;
  }

  .apertura .not_cat a {
    margin: .5rem 0;
  }

  .portada .apertura {
    background-color: #1f1f1f;
    .bl_fondo {
      max-height: inherit;
      a {
        .fondo_deg {
          display: none;
        }
        img {
          width: 100%;
        }
      }
      div.bl_txt {
        width: 100%;
        position: static;
        padding: 1.25rem;
      }
    }
  }

  .portada .apertura.imagen-izquierda div.bl_txt .entradilla {
    display: block;
  }

  .portada .apertura.imagen-izquierda .not_vid {
    width: 100%;
  }

  .imagen-izquierda .not_vid {
    padding-bottom: 56.25%; /* Para que el contenedor tenga relación de aspecto 16/9 */
  }

  .portada .apertura .video_relacionado {
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-top: 1rem;
  }


  .portada .apertura.streaming .column.eight.ancho_completo .txt div p {
    display: none;
  }

  .portada .apertura div.bl_txt {
    left: 1.25rem;
    bottom: 1.25rem;
  }

  .portada .doble.row .apertura_destacado .bl_fondo .bl_txt {
    width: -webkit-calc(100% - 2.5rem);
    width:         calc(100% - 2.5rem);
  }

  .portada .apertura span.video {
    left: 1.25rem;
    top: 1.25rem;
  }

  .portada .txt .entradilla {
    display: none;
  }

  .ficha .column.cuerpo {
    float: none;
    width: 100%;
    padding: 0;
    .contenido {
      max-width: 500px;
      margin-right: auto;
      margin-left: auto;
    }
  }

  .ficha .column.sidebar {
    float: none;
    width: 350px;
    margin-right: auto;
    margin-left: auto;
  }

  .play,
  .portada .apertura span.video,
  #slider-lacuartatv span.video {
    width: 50px;
    height: 50px;
  }

  #slider-lacuartatv span.video {
    left: 35%;
    top: 30%;
  }

  .lacuartatv #video-actual {
    .img .video {
      width: 80px;
      height: 80px;
      left: 42%;
      top: 38%;
    }
    .txt {
      bottom: 1rem;
      h3 {
        font-size: 2rem;
      }
    }
  }

  .modulo_galerias #galeria-actual,
  .modulo_galerias #galeria-actual + ul {
    float: none;
    width: 100%;
    margin: 0;
    li {
      display: inline-block;
      vertical-align: top;
      width: 22%;
      margin: 2rem 1% 0;
    }
  }

  .modulo_galerias #galeria-actual + ul li.seleccionada {
    &:after {
      display: none;
    }
    div {
      border-bottom: 4px solid $rojo;
    }
    p {
      color: $rojo;
    }
  }
  
  .lacuartatv #slider-lacuartatv .item.seleccionada div {
    border-bottom: 4px solid $rojo;
    &:after {
      display: none;
    }
  }

  .mas_fotogalerias > .row article a h3 {
    margin: .5rem 0;
    font-size: 1rem;
  }

  .ficha .cabecera_ficha h1, .ficha.fotogaleria h1 {
    font-size: 2rem;
  }


  #slider-papeldigital {
    padding: 2rem 0;
  }

  .single-publirreportajes .header .patrocinador p {
    display: none;
  }

  .single-publirreportajes #content {
    .entry-content {
      padding: 2.5rem 4rem;
      h2.bajada, h2.bajada p {
        font-size: 1.8rem;
      }
    }
  }

  .single-especial .portada.especial .cab_especial ul li a {
    font-size: .75rem;
  }

  .sidebar {
    > ul {
      text-align: center;
      li a {
        font-size: .875rem;
      }
    }
  }

  ul.redes li {
    width: -webkit-calc(25% - 1px);
    width:         calc(25% - 1px);
  }

  ul.redes li.whatsapp {
    display: block;
  }

  footer > .row .column.three img {
    width: 110px;
  }

  footer ul {
    padding-left: 5%;
    li {
      width: 49%;
    }
  }


}



@media screen and (max-width: 600px){

  .portada .apertura h1 {
    font-size: 2rem;
  }

  .portada .apertura .bl_txt {
    width: 90%;
  }

  /*.portada*/section.modulo {
    .row .column.four {
      // width: 80%;
      article, .html.lateral {
        margin-bottom: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        width: 350px;
        .bl > * {
          display: block;
          width: 100%;
        }
        .bl .text {
          margin-left: 0;
        }
      }
    }
  }

  .bloque_tags article.four {
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 350px!important;
    .bl > * {
      display: block;
      width: 100%;
    }
    .bl .text {
      margin-left: 0;
    }
  }

  .portada .doble.row .apertura_destacado,
  .portada .doble .apertura_destacado + .apertura_destacado {
    float: none;
    width: 450px;
    max-height: 500px;
    margin: 0 auto 1rem;
  }

  .portada .doble.row .apertura_destacado .bl_fondo {
    max-height: 500px;
    overflow: hidden;
  }

  .lacuartatv #slider-lacuartatv .item p {
    font-size: .875rem;
    line-height: 1.1;
  }

  .modulo.laldia .portada h3 {
    font-size: 1.5rem;
  }

  .modulo.widgets .column.six {
    width: -webkit-calc(100% - 2.5rem);
    width:         calc(100% - 2.5rem);
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }

  .post-type-archive-galeria section .row .column {
    float: none;
    width: 100%;
    article {
      margin-bottom: 0;
      margin-left: auto;
      margin-right: auto;
      width: 350px;
    }
  }

  .opciones_galeria ul.tipogal {
    width: 100%;
    float: none;
    text-align: center;
    padding-top: 1rem;
    li a {
      // width: 45px;
      // height: 45px;
    }
  }

  .opciones_galeria .compartir {
    width: 100%;
    float: none;
    ul.redes {
      padding: 0 0 1.5rem;
      border-bottom: 1px solid #dfdfdf;
    }
  }

  iframe.vrudo {
    height: 400px;
  }

  .html.lateral iframe.vrudo {
    height: inherit;
  }

  .modulo.newsletter .row > * {
    max-width: 100%;
  }

  .single-publirreportajes #content .contenido ul.redes {
    text-align: center;
  }

  .slider-miniaturas {
    position: static;
    width: 100%;
  }

  #galeria-actual a.miniaturas {
    display: none;
  }

}



@media screen and (max-width: 500px){

  body {
    overflow-x: hidden;
  }

  header.header_home .header .redes {
    display: none;
  }

  header.header_home .subheader,
  body.fixed header.header_home .subheader,
  header.header_interior .subheader {
    left: 0;
    right: 0;
    .bot_nav {
      float: right;
      margin: 21px 4rem 0 0;
    }
    .bot_buscar {
      left: auto;
      right: 0;
    }
    .nav_v {
      left: 0;
      width: 100%;
      &:after {
        right: 22%;
      }
    }
  }

  section.modulo {
    .row {
      .column.four {
        article, .html.lateral {
          width: -webkit-calc(100% - 2.5rem);
          width:         calc(100% - 2.5rem);
          margin-left: 1.25rem;
          margin-right: 1.25rem;
        }
      }
    }
  }

  .bloque_tags article.four {
    width: -webkit-calc(100% - 2.5rem)!important;
    width:         calc(100% - 2.5rem)!important;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }

  .portada .doble.row .apertura_destacado,
  .portada .doble .apertura_destacado + .apertura_destacado {
    width: 100%;
  }

  .portada .apertura.streaming .column.eight .txt {
    div {
      margin: 0 5% 1rem;
      h1 {
        font-size: 2rem;
        margin-bottom: 0;
      }
      p {
        display: none;
      }
    }
  }

  .portada .apertura.videorel {
    .fondo_deg {
      display: none;
    }
    .bl_txt {
      position: static;
      padding: 1rem;
      background-color: $grisoscuro;
      width: 100%;
      .video_relacionado {
        float: none;
        > a > img {
          width: 85px;
          display: inline-block!important;
          vertical-align: top;
          float: none;
        }
        .rel_txt {
          width: -webkit-calc(100% - 90px);
          width:         calc(100% - 90px);
          float: none;
          display: inline-block;
          vertical-align: top;
          h3 {
            font: 1rem 'nationalweb-regular', $predet-fonts;
            padding-top: 0;
          }
        }
      }
    }
  }

  .post-type-archive-galeria section .row .column article {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  section.modulo.fondo-oscuro-logo,
  section.modulo.butaca,
  section.modulo.calentitos,
  section.modulo.patocarlo,
  section.modulo.lapicada,
  section.modulo.matrix,
  section.modulo.mascotas {
    .row {
      .column.four {
        article {
          width: 100%;
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }

  .diario_version_digital header h3 {
    display: block;
    margin-bottom: 0;
  }

  #slider-lacuartatv .item .img img {
    width: 100%;
  }

  .portada ul.cajas li, ul.cajas li {
    width: 100%;
    margin-right: 0;
    height: inherit;
  }

  .contenedorruleta .container img {
    right: 0;
    bottom: -48px;
    height: auto;
    width: 180px;
  }

  #slider-lacuartatv span.video {
    left: 45%;
    top: 40%;
  }

  .modulo.newsletter .row > * {
    text-align: left;
    input[type="email"] {
      width: 100%;
    }
    input[type="submit"] {
      width: 130px;
      margin-top: 10px;
    }
  }

  .laldia ul.pestanas {
    display: none;
  } 
  
  .laldia .respons {
    display: inline-block;
  }

  .laldia .fototexto li {
    .text {
      h3 {
        font-size: 1.25rem;
      }
      p {
        display: none;
      }
    }
  }

  .laldia .column ul.fototextosimple li {
    width: 100%;
    border-bottom: 1px solid #dfdfdf;
    h4 {
      font-size: 1rem;
    }
  }

  .laldia .column ul.fototextosimple li:last-child {
    padding-bottom: .75rem;
    border-bottom: 0 none;
  }

  .modulo_galerias #galeria-actual li,
  .modulo_galerias #galeria-actual + ul li {
    width: 47%;
  }

  #slider-lacuartatv .item .img {
    max-height: inherit;
  }

  .modulo.reporterospop {
    .row {
      p {
        text-align: center;
        display: block;
        &:after {
          right: 50%;
          margin-right: -35px;
          width: 70px;
          height: 60px;
          top: 25px;
        }
      }
    }
  }

  .ficha .column.sidebar {
    width: 100%;
  }

  .relacionadas ul.fototexto li .text p {
    display: none;
  }

  iframe.vrudo {
    height: 300px;
  }

  .lacuartatv {
    .titseccion {
      background-size: auto 35px;
    }
    #video-actual {
      margin: 1.25rem auto;
      .img .video {
        width: 50px;
        height: 50px;
        left: 45%;
        top: 40%;
      }
      .txt {
        left: 1rem;
        right: 1rem;
        padding-bottom: .5rem;
        h3 {
          font-size: 1.5rem;
        }
      }
    }
  }

  .header_publirreportajes {
    .header {
      padding: 0;
      text-align: center;
      .logo {
        display: none;
      }
      .patrocinador {
        position: static;
      }
    }
  }

  .single-publirreportajes #content .contenido .cabecera_publi .bl_txt .entradilla {
    font-size: 1.25rem;
  }

  section.error-404 {
    padding: 0;
    width: 100%;
    .content {
      .column.six {
        width: 100%;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
      }
      .column.six + .column.six {
        width: 100%;
        padding: 0;
      }
    }
  }

  footer {
    > .row {
      padding: 1.25rem 0;
      .column {
        width: 100%;
        float: none;
        text-align: center;
        ul li {
          width: 100%;
          text-align: center;
        }
      }
      .column.three img {
        width: 120px;
        margin-bottom: 1.5rem;
      }
    }
    .copesa {
      padding: 1.25rem 0;
      .column {
        width: 100%;
        float: none;
        text-align: center;
      }
      .column.logo_copesa img {
        width: 100px;
        margin-bottom: 1.5rem;
      }
    }
  }

}



@media screen and (max-width: 400px){

  body {
    font-size: 90%;
  }

  header.header_interior .header,
  header.header_home .header,
  body.fixed header.header_home .header {
    padding: 1.3rem;
  }

  header.header_interior .subheader .bot_nav,
  header.header_home .subheader .bot_nav,
  body.fixed header.header_home .subheader .bot_nav {
    margin: 21px 60px 0 0 !important;
    padding: 0;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    color: transparent;
    text-align: left;
    width: 35px;
    &:before {
      left: -27px;
      display: block;
      padding-left: 0;
    }
  }

  .portada .apertura.streaming .column.eight .txt {
    .endirecto {
      top: 1rem;
      left: 50%;
      margin-left: -100px;
    }
    .video {
      right: 40%;
      top: 4rem;
    }
    div {
      h1 {
        font-size: 1.5rem;
      }
    }
  }

  .portada_seccion > .row h1.portadilla {
    font-size: 1.75rem;
    margin-top: 2rem;
  }

  .titseccion {
    margin: 1rem 0;
  }

  .relacionadas > span {
    font-size: 1.5rem;
  }

  .modulo a.vermas {
    font-size: .875rem;
    line-height: 1.75;
  }

  .modulo_galerias > .row > span:after {
    font-size: 1.75rem;
    right: -33px;
    top: -4px;
  }

  ul.redes li a {
    color: transparent;
  }

  ul.fototexto li {
    img {
      width: 125px;
      margin-right: 15px;
    }
    .text {
      width: -webkit-calc(100% - 150px);
      width:         calc(100% - 150px);
      h3 {
        font-size: 1rem;
      }
    }
  }

  .modulo.superruleta {
    padding-left: 0;
    padding-right: 0;
    .contenedorruleta {
      margin: 0 0 1rem;
      padding: 11rem 0 3rem;
    }
  }

  .modulo_la_cuarta_tv header span {
    background-size: 150px auto;
    height: 40px;
    background-position: 0 4px;
  }

  .modulo.widgets .horoscopo .titwidget,
  .modulo.widgets .participa .titwidget {
    font-size: 1.25rem;
  }

  .wp-polls {
    font-size: 1rem;
  }

  .wrapviewmodal {
    // width: 95%;
  }

  .ficha.fotogaleria .row .numero {
    font-size: .75rem;
  }

  .mas_fotogalerias > .row {
    padding: 1rem 0;
    .tit {
      font-size: 1.25rem;
    }
    + .row {
      padding-top: 0;
      article a h3 {
        font-size: .875rem;
      }
    }
  }

  .lacuartatv #video-actual .txt {
    padding-bottom: 0;
    h3 {
      font-size: 1.25rem;
    }
  }

  .single-publirreportajes #content .contenido .cabecera_publi {
    height: 290px;
  }

  .single-publirreportajes #content article.ficha.publirreportajes .bl_txt {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .single-publirreportajes #content .entry-content {
    padding: 2rem 2rem;
  }

  .single-publirreportajes #content .contenido .cabecera_publi .bl_txt {
    h1 {
      font-size: 2rem;
    }
    .entradilla {
      font-size: 1rem;
    }
  }

  .bl_publi.lateral {
    padding:0;
  }

  .bl_publi.lateral > div {
    margin: 0 auto;
  }

}


