@charset "UTF-8";

@font-face {
  font-family: "untitled-font-1";
  src:url("untitled-font-1.eot");
  src:url("untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("untitled-font-1.woff") format("woff"),
    url("untitled-font-1.ttf") format("truetype"),
    url("untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "a";
}
.icon-share:before {
  content: "b";
}
.icon-comment:before {
  content: "c";
}
.icon-eye:before {
  content: "d";
}
.icon-clock:before {
  content: "e";
}
.icon-back-in-time:before {
  content: "f";
}
.icon-clock-1:before {
  content: "g";
}
.icon-star-two:before {
  content: "h";
}
.icon-bookmark:before {
  content: "i";
}
.icon-facebook:before {
  content: "j";
}
.icon-facebook-circled:before {
  content: "k";
}
.icon-social-twitter:before {
  content: "l";
}
.icon-twitter-circled:before {
  content: "m";
}
.icon-gplus:before {
  content: "n";
}
.icon-gplus-circled:before {
  content: "o";
}
.icon-plus:before {
  content: "p";
}
.icon-rss:before {
  content: "q";
}
.icon-link-external:before {
  content: "r";
}
.icon-link:before {
  content: "s";
}
.icon-link-1:before {
  content: "t";
}
.icon-linkedin:before {
  content: "u";
}
.icon-linkedin-circled:before {
  content: "v";
}
.icon-external-link-sqaure:before {
  content: "w";
}
.icon-external-link:before {
  content: "x";
}
.icon-link-2:before {
  content: "y";
}
.icon-search:before {
  content: "z";
}
.icon-magnifying-glass:before {
  content: "A";
}
.icon-list:before {
  content: "B";
}
.icon-list-thumbnails:before {
  content: "C";
}
.icon-align-justify:before {
  content: "D";
}
.icon-menu:before {
  content: "E";
}
.icon-arrow-right:before {
  content: "F";
}
.icon-arrow-small-right:before {
  content: "G";
}
.icon-arrow-right-1:before {
  content: "H";
}
.icon-arrow-up:before {
  content: "I";
}
.icon-arrow-down-1:before {
  content: "J";
}
.icon-caret-right:before {
  content: "K";
}
.icon-angle-right:before {
  content: "L";
}
.icon-angle-left:before {
  content: "M";
}
.icon-angle-down:before {
  content: "N";
}
.icon-angle-up:before {
  content: "O";
}
.icon-arrow-right-2:before {
  content: "P";
}
.icon-caret-up-down:before {
  content: "Q";
}
.icon-arrow-up-1:before {
  content: "R";
}
.icon-arrow-left:before {
  content: "S";
}
.icon-arrow-down-2:before {
  content: "T";
}
.icon-arrow-left-1:before {
  content: "U";
}
.icon-arrow-right-3:before {
  content: "V";
}
.icon-chevron-right:before {
  content: "W";
}
.icon-chevron-left:before {
  content: "X";
}
.icon-chevron-up:before {
  content: "Y";
}
.icon-chevron-down:before {
  content: "Z";
}
.icon-right-open:before {
  content: "0";
}
.icon-left-open:before {
  content: "1";
}
.icon-arrow-right-4:before {
  content: "2";
}
.icon-arrow-left-2:before {
  content: "3";
}
.icon-arrow-up-2:before {
  content: "4";
}
.icon-arrow-down-3:before {
  content: "5";
}
.icon-play:before {
  content: "6";
}
.icon-play-1:before {
  content: "7";
}
.icon-play-circle:before {
  content: "8";
}
.icon-play-video:before {
  content: "9";
}
.icon-play-circle-1:before {
  content: "!";
}
.icon-video:before {
  content: "\"";
}
.icon-youtube:before {
  content: "#";
}
.icon-camera:before {
  content: "$";
}
.icon-photo:before {
  content: "%";
}
.icon-camera-retro:before {
  content: "&";
}
.icon-photo-1:before {
  content: "'";
}
.icon-picture:before {
  content: "(";
}
.icon-set:before {
  content: ")";
}
.icon-camera-1:before {
  content: "*";
}
.icon-expand:before {
  content: "+";
}
.icon-close:before {
  content: "-";
}
.icon-hyperlink:before {
  content: ".";
}
.icon-add:before {
  content: "/";
}
.icon-subtract:before {
  content: ":";
}
.icon-zoom-in:before {
  content: ";";
}
.icon-zoom-out:before {
  content: "<";
}
.icon-user:before {
  content: "=";
}
.icon-home:before {
  content: ">";
}
.icon-home-1:before {
  content: "?";
}
.icon-alert:before {
  content: "@";
}
.icon-exclamation-circle:before {
  content: "[";
}
.icon-wifi-3:before {
  content: "]";
}
.icon-quote-left:before {
  content: "_";
}
.icon-quote-right:before {
  content: "`";
}
.icon-quote:before {
  content: "{";
}
.icon-quote-1:before {
  content: "|";
}
.icon-quote-2:before {
  content: "^";
}
.icon-font:before {
  content: "}";
}
.icon-resize-down:before {
  content: "~";
}
.icon-resize-expand:before {
  content: "\\";
}
.icon-remove:before {
  content: "\e000";
}
.icon-eye-1:before {
  content: "\e001";
}
.icon-call-phone:before {
  content: "\e002";
}
.icon-whatsapp:before {
  content: "\e003";
}
.icon-email-envelope:before {
  content: "\e004";
}
.icon-mail:before {
  content: "\e005";
}
.icon-envelope:before {
  content: ",";
}
